
.site {
    position: relative;
}

.site-header {
    z-index: 5;
    background-color: $white;
}

/**
 * Medium and Smaller
 * @see https://foundation.zurb.com/sites/docs/media-queries.html
 */
@include breakpoint( medium down ) {
    $header-height: rem-calc(70);

    .site-header {}

    .site-branding {
        height: $mobile-header-height;
        padding: rem-calc(13) rem-calc(20);
        background-color: $white;
        box-shadow: 0 1px 5px 0 rgba($black,0.21);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 4;

        display: flex;
        justify-content: space-between;
        align-items: center;


        img {
          height: rem-calc(46);
          width: auto;
        }
    }

    .site-main {
        margin-top: $header-height;
    }
}

$header-height: rem-calc(112);
$minimized-height: rem-calc(87); //sic

@include breakpoint(large) {

    .site-header {
        @include xy-grid;
        padding-left: rem-calc(20);
        justify-content: space-between;
        height:  $header-height;
        transition: all 0.3s ease;
    }

    .site-branding {
        @include xy-cell($gutter-type: padding);
        width: rem-calc(237);
        align-self: center;
    }

    .main-navigation {
        @include xy-cell(auto, $gutters: 0);
        justify-content: flex-end;
    }

    // .site-header {
        
    //     margin-left: auto;
    //     margin-right: auto;

    //     padding-right: 0;
    //     display: flex;
    //     align-items: stretch;
    //     justify-content: space-between;
    //     height:  $header-height;
    //     box-sizing: border-box;
    //     width: 100%;
    //     background-color: $white;
    //     transition: height 0.1s;
    // }

    // .site-branding {
    //     $margin: map-get($grid-margin-gutters, medium);
    //     // max-width: $grid-container;
    //     // padding-left: calc( #{$margin} / 2 );
    //     padding-left: rem-calc(130);
    //     margin-right: auto;
    //     margin-left: auto;

    //     align-self: center;

    //     img {
    //         height: rem-calc(69);
    //         width: rem-calc(237);
    //         min-width: rem-calc(237);
    //     }
    // }

    // .main-navigation {
    //     position: fixed;
    //     right: 0;
    //     top: 0;
    //     left: auto;
    //     bottom: auto;
    //     height: $header-height;
    //     transition: none;
    // }

    /* Fixed Header */
    .is-fixed {
        .site-header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            box-shadow: 0 1px 5px 0 rgba($black,0.21);
        }
        .site-main {
            margin-top: $header-height;
        }
    }

    /* Shrunken Header */
    &.is-minimized {
        .site-header {
            height: $minimized-height;            

            .custom-logo-link {
                background-image: url("../images/cls-logo.svg");
                background-size: rem-calc(47) rem-calc(62);
                background-repeat: no-repeat;
                height: rem-calc(62);
                width: rem-calc(47); //sic
                display: block;

                img {
                    display: none;
                }
            }
        }

        .main-navigation {
            height: $minimized-height;
        }

        .site-main {}
    }

    .main-navigation {
        display: flex;
        flex-wrap: nowrap;
    }

}

@include breakpoint(xlarge) {
    .site-header {
        padding-left: rem-calc(130);
    }

    .site-branding {}

}