
.site {
    position: relative;
}

.site-header {
    z-index: 500;
    background-color: $white;

    .site-notice {
        width: 100%;
        display: flex;
        align-items: center;
    }
}

/**
 * Medium and Smaller
 * @see https://foundation.zurb.com/sites/docs/media-queries.html
 */
@include breakpoint( medium down ) {

    $header-height: rem-calc(70);
    $notice-height: rem-calc(118);
    
    .site-branding {
        height: $mobile-header-height;
        padding: rem-calc(13) rem-calc(20);
        background-color: $white;
        box-shadow: 0 1px 5px 0 rgba($black,0.21);
        position: fixed;
        top: 0;
        left: 0;
        bottom: auto;
        width: 100%;
        z-index: 4;

        display: flex;
        justify-content: space-between;
        align-items: center;


        img {
          height: rem-calc(46);
          width: auto;
        }
    }

    &.has-site-notice {
        .site-notice {
            height: $notice-height;
            position: fixed;
            z-index: 5;
            top: 0;
            left: 0;
        }
        .site-branding {
            margin-top: $notice-height;
        }
        .main-navigation {
            margin-top: calc(#{$mobile-header-height} + #{$notice-height});
        }
    }

    .site-main {
        margin-top: $header-height;
    }

    &.has-site-notice {
        .site-main {
            margin-top: calc(#{$mobile-header-height} + #{$notice-height});
        }
    }
}

$header-height: rem-calc(112);
$minimized-height: rem-calc(87); //sic
$notice-height: rem-calc(78);

@include breakpoint(large) {

    .site-header {
        @include xy-grid;
        padding-left: rem-calc(20);
        justify-content: space-between;
        height:  $header-height;
        transition: height 0.2s ease-in-out;
    }

    .has-site-notice {
        .site-notice {
            height: $notice-height;
            @include fullwidth;
            padding-left: rem-calc(20);
        }
        .site-header {
            height:  calc(#{$header-height} + #{$notice-height});
        }
    }

    .site-branding {
        @include xy-cell($gutter-type: padding);
        width: rem-calc(237);
        align-self: center;
    }

    .main-navigation {
        @include xy-cell(auto, $gutters: 0);
        justify-content: flex-end;
    }

    /* Fixed Header */
    .is-fixed {
        .site-header {
            position: fixed;
            top: 0;
            left: 0;
            bottom: auto;
            width: 100%;
            box-shadow: 0 1px 5px 0 rgba($black,0.21);
        }
        .site-main {
            margin-top: $header-height;
        }
        &.has-site-notice {
            .site-main {
                margin-top: calc(#{$header-height} + #{$notice-height});
            }
            .main-navigation {
                height: $header-height;
            }
        }
    }

    /* Shrunken Header */
    &.is-minimized {
        .site-header {
            height: $minimized-height;            

            .custom-logo-link {
                background-image: url("../images/cls-logo.svg");
                background-size: rem-calc(47) rem-calc(62);
                background-repeat: no-repeat;
                height: rem-calc(62);
                width: rem-calc(47); //sic
                display: block;

                img {
                    display: none;
                }
            }
        }
        &.has-site-notice {
            .site-header {
                height: calc(#{$minimized-height} + #{$notice-height});  
            }
        }

        .main-navigation {
            height: $minimized-height;
        }

        &.has-site-notice {
            .main-navigation {
                height: $minimized-height;
            }
        }

        .site-main {}
    }

    .main-navigation {
        display: flex;
        flex-wrap: nowrap;
    }

}

@include breakpoint(xlarge) {
    .site-header {
        // padding-left: rem-calc(130);
    }

    .site-branding {
        margin-left: rem-calc(130);
    }

    .site-notice {
        p {
            padding-left: rem-calc(130);
        }
    }

}