.site {
    position: relative;
}

.site-header {
    z-index: 5;
    background-color: $white;
}

@include breakpoint( small only ) {
    $header-height: rem-calc(70);

    .site-header {}

    .site-branding {
        height: $mobile-header-height;
        padding: rem-calc(13) rem-calc(20);
        background-color: $white;
        box-shadow: 0 1px 5px 0 rgba($black,0.21);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 4;

        display: flex;
        justify-content: space-between;
        align-items: center;


        img {
          height: rem-calc(46);
          width: auto;
        }
    }

    .site-main {
        margin-top: $header-height;
    }
}

@include breakpoint(medium) {

    $header-height: rem-calc(112);
    $minimized-height: rem-calc(87); //sic

    .site-header {
        padding-left: rem-calc(40);
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        height:  $header-height;
        box-sizing: border-box;
        width: 100%;
        background-color: $white;
        transition: height 0.3s;

        .site-branding {
            align-self: center;
            background-color: $white;

            img {
                height: rem-calc(69);
                width: rem-calc(237);
                min-width: rem-calc(237);
            }
        }
       
    }

    /* Fixed Header */
    .is-fixed {
        .site-header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            box-shadow: 0 1px 5px 0 rgba($black,0.21);
        }

        .site-main {
            margin-top: $header-height;
        }
    }

    /* Shrunken Header */
    &.is-minimized {
        .site-header {
            height: $minimized-height;

            .custom-logo-link {
                background-image: url("data:image/svg+xml,%3Csvg width='127px' height='167px' viewBox='0 0 127 167' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Ecls-logo%3C/title%3E%3Cdefs%3E%3Cpolygon id='path-1' points='0 0.346 126.493 0.346 126.493 166.94 0 166.94'%3E%3C/polygon%3E%3C/defs%3E%3Cg id='cls-logo' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='cls-logo-small'%3E%3C!-- %3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E --%3E%3Cg id='Clip-2'%3E%3C/g%3E%3Cpath d='M51.885,69.529 C42.331,69.529 34.586,61.784 34.586,52.23 C34.586,42.677 42.331,34.932 51.885,34.932 L72.94,34.932 L72.94,0.346 L51.885,0.346 C23.229,0.346 0,23.576 0,52.23 C0,80.885 23.229,104.115 51.885,104.115 L72.94,104.115 L72.94,69.529 L51.885,69.529' id='Fill-1' fill='%2322355B' mask='url(%23mask-2)'%3E%3C/path%3E%3Cpolyline id='Fill-3' fill='%2379619B' mask='url(%23mask-2)' points='124.825 52.23 124.825 52.23 72.94 0.346 124.825 0.346 124.825 52.23'%3E%3C/polyline%3E%3Cpolyline id='Fill-4' fill='%23E9846B' mask='url(%23mask-2)' points='72.94 104.115 72.94 104.115 124.825 52.23 124.825 104.115 72.94 104.115'%3E%3C/polyline%3E%3Cpath d='M42.813,148.677 L51.013,150.353 C48.964,161.038 40.515,167 30.514,167 C18.278,167 8.649,157.497 8.649,145.261 C8.649,133.084 18.278,123.519 30.514,123.519 C40.515,123.519 48.902,129.543 51.013,139.545 L42.813,141.843 C41.261,134.638 36.292,131.47 30.514,131.47 C23.06,131.47 17.16,137.371 17.16,145.261 C17.16,153.148 23.06,159.112 30.514,159.112 C36.292,159.112 41.261,155.944 42.813,148.677' id='Fill-5' fill='%2322355B' mask='url(%23mask-2)'%3E%3C/path%3E%3Cpolyline id='Fill-6' fill='%2322355B' mask='url(%23mask-2)' points='88.102 166.069 58.162 166.069 58.162 124.45 66.609 124.45 66.609 158.428 88.102 158.428 88.102 166.069'%3E%3C/polyline%3E%3Cpath d='M125.872,135.508 L117.425,137.246 C116.802,133.334 113.386,130.786 109.225,130.786 C105.001,130.786 102.454,133.147 102.454,135.942 C102.454,138.054 103.385,139.545 106.616,140.166 L115.56,141.968 C122.332,143.397 126.494,147.434 126.494,153.894 C126.494,161.969 119.846,167 109.97,167 C101.274,167 93.633,162.963 92.578,154.638 L101.461,152.839 C102.578,157.558 106.057,159.608 110.778,159.608 C115.623,159.608 118.17,157.31 118.17,154.329 C118.17,151.969 117.052,150.54 113.325,149.794 L104.504,148.117 C99.534,147.061 93.571,144.328 93.571,136.19 C93.571,128.737 99.659,123.519 109.412,123.519 C117.859,123.519 124.258,128.116 125.872,135.508' id='Fill-7' fill='%2322355B' mask='url(%23mask-2)'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                background-size: rem-calc(47) rem-calc(62);
                background-repeat: no-repeat;
                height: rem-calc(62);
                width: rem-calc(47); //sic
                display: block;

                img {
                    display: none;
                }
            }
        }

        .site-main {}
    }

}