:root {
    --tx: 0;
    --ty: 0;
    --bwidth: 0;
    --duration: .2s;
}

.wp-block-custom-cta,
.wp-block-animated-cta {
    clear: both;
    $size: rem-calc(100);
    height: $size;

    /**
     * Structure
     */
    .inner-container {
        height: $size;
        position: relative;
    
        @include xy-grid-container;
        @include xy-grid;
        flex-wrap: nowrap;

        justify-content: flex-end;
    }

    .wrapper-l {
        flex-basis: rem-calc(150);
        justify-content: flex-end;
        align-items: center;
        order: 2;
        position: relative;
    }

    .wrapper-r {
        order: 1;
        align-items: center;
        padding-right: rem-calc(78);
        padding-left: rem-calc(22);
    }

    .cta-image {
        position: absolute;
        top: 0;
        // left: -37.5px;
        left: -50px; //half width
        mask-image: url('../images/icon-timeline-arrow.svg');
        mask-repeat: no-repeat;
        mask-position: top right;
        mask-size: $size;
        background-color: $white;
        min-width: $size;
        height: $size;
    }

    .cta-text {
        height: 100%;
        display: flex;
        align-items: center;
        
        a {
            align-self: center;
            // z-index: 5;
        }
       
    }

    /**
     * Style
     */
     background: linear-gradient(
        90deg, 
        rgba($primary-color,1) 0%, 
        rgba($primary-color,1) 50%, 
        rgba($accent-color,1) 50%, 
        rgba($accent-color,1) 100%
    );

    // .inner-container {}

    .wrapper-l {
        background-color: $accent-color;
    }

    .wrapper-r {
        background-color: $primary-color;

        a {
            color: $white;
            font-weight: $font-weight-black;
            font-size: rem-calc(19);
            line-height: rem-calc(23);
        }
    }
    
    .cta-text {}

    /**
     * Small only
     */
     @include breakpoint(small only) {
        .wrapper-r {
            flex: 1 1 auto;
            padding-left: rem-calc(10);
        }

        .wrapper-l {
            flex-basis: rem-calc(120);
        }
    
     }

    /**
     * Medium & up
     */
    @include breakpoint(medium) {
        $lg-size: rem-calc(100);
        height: $lg-size;

        /**
         * Structure
         */
         .inner-container {
            padding: 0;
            height: $lg-size;
            justify-content: flex-end;
         }
    
        .wrapper-l {
            order: 1;
            justify-content: flex-end;
            position: initial;
        }

        .wrapper-r {
            order: 2;
            padding-left: rem-calc(75);
            padding-right: rem-calc(172);
            justify-content: flex-end;
        }

        .cta-text {}

        a {
            display: block;
            text-align: right;
        }
    
        /**
         * Style
         */
         @keyframes color-right {
            0% { background-size: 0 100%;
            }
            50% {
                background-size: 40% 100%;
            }
            100% {
                background-size: calc(100% - 100px) 100%;
            }
        }

        @keyframes arrow-right {
            0% { 
                position: absolute;
                left: 25%;
                right: auto; 
            }
            50% { right: 50% }
            100% { right: 51px }
        }

        @keyframes arrow-right {
            0% { 
                position: absolute;
                left: 25%;
                right: auto; 
            }
            50% { right: 50% }
            100% { right: 51px }
        }

        .wrapper-l {
            background-color: $primary-color;
        }

        .wrapper-r {
            background-color: $accent-color;
            background-image: linear-gradient($primary-color, $primary-color);
            background-size: 0 100%;
            background-repeat: no-repeat;
            transition: background-size var(--duration) linear;
        }

        /**
         * Animation
         */
        .cta-image {
            transition: transform var(--duration) linear;
            will-change: transform;
            margin-left: unset;
            margin-right: -49px;
            mask-size: $lg-size;
            min-width: $lg-size;
            height: $lg-size;
            transform: unset;
            position: initial;
        }

        /** Animated State **/
        &.is-active {
            .cta-image {
                transform: 
                    translate3d(var(--tx), var(--ty), 0);
            }

            .wrapper-r {
                background-size: calc(var(--bwidth) - 100px) 100%;
            }
        }

        .cta-text {
            a {
                font-size: rem-calc(24);
                line-height: rem-calc(35);
            }
        }
    }

    @include breakpoint(large) {
        

        .cta-text {}
        
    }


}
