.wp-block-custom-back-link {

    a {
        position: relative;
        font-weight: $font-weight-bold;
        font-size: rem-calc(14);
        color: $black-9;
        padding-left: rem-calc(25);

        &:hover {
            text-decoration: underline;
        }

        &:before {
            position: absolute;
            display: block;
            margin-right: rem-calc(8);
            content: '';
            background-image: url('../images/back-arrow.svg');
            background-repeat: no-repeat;
            background-size: rem-calc(21) rem-calc(13);
            background-position: center left;
            width: rem-calc(21);
            height: rem-calc(13);
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    @include breakpoint(medium) {}
}