.wp-block-number-counter {

    /**
     * Structure
     */
    .inner-container {
        @include xy-grid-container;
        @include xy-grid;
        justify-content: space-evenly;
    }

    .number-counter {
        @include xy-cell(12, $gutters: 0);
        @include xy-grid;
        align-items: flex-start;
    }

    .block-heading {
        display: none;
        flex-basis: 100%;
    }

    .block-number {
        flex-basis: 73%;
    }

    .block-image {
        flex-basis: 27%;
        text-align: right;
    }

    .block-content {
        flex-basis: 73%;
    }

   /**
    * Style
    */
    color: $white;
    background-color: $secondary-color;

    .inner-container {
        padding-top: rem-calc(8);
    }

    .number-counter {
        padding-top: rem-calc(32);
        padding-bottom: rem-calc(30);

        &:not(:last-of-type) {
            border-bottom: 6px solid rgba($white,0.25);
        }
    }

    .block-heading {}

    .block-number {
        font-size: rem-calc(63.18); //sic (yes, this is really what the design file had)
        font-weight: $font-weight-xbold;
        line-height: 1;
    }

    .block-image {}

    .block-content {
        font-size: rem-calc(18);
        font-weight: $font-weight-xbold;

        p {
            line-height: 21px; 
        }
    }

    /**
     * Medium & down - for breakpoint less than content max-width
     */
    @include breakpoint(large down) {
       /**
        * Structure
        */
        .inner-container {}

        .number-counter {
            width: 100%;
            margin-right: 0;
            margin-left: 0;
        }

       /**
        * Style
        */
        .block-content {
            margin-top: rem-calc(8);
        }
    }

    /**
     * Medium and Up
     */
    @include breakpoint(medium) {

       /**
        * Structure
        */
        .inner-container {
            padding-top: rem-calc(22);
            padding-bottom: rem-calc(22);
            align-items: stretch;
            justify-content: space-between;
        }

        .number-counter {
            margin-right: 0;
            margin-left: 0;
            padding-right: 0;
            padding-left: 0;
            
            align-items: flex-start;
            align-self: flex-start;

            &:first-of-type {
                // flex-basis: calc(100% * .285); //sic
                @include xy-cell(28.5%, $gutters: 0); //sic

                .block-number {
                    width: rem-calc(170);
                }
            }

            &:nth-child(2) {
                // flex-basis: calc(100% * .383333333333333);
                @include xy-cell(38.3333333333333%, $gutters: 0); //sic

                .block-number {
                    width: rem-calc(200);
                }
            }

            &:last-of-type {
                // flex-basis: calc(100% * .313333333333333); //sic
                @include xy-cell(31.3333333333333%, $gutters: 0); //sic

                .block-number {
                    width: rem-calc(124);
                }
            }

        }

        .block-heading {}

        .block-number {
            flex-basis: auto;
            // padding-right: rem-calc(10);
        }
    
        .block-image {
            flex-basis: auto;
        }
    
        .block-content {
            flex-basis: 100%;
            margin-top: rem-calc(16);
        }

       /**
        * Style
        */
        .number-counter {
            padding-top: rem-calc(6);
            padding-bottom: rem-calc(8);

            &:first-of-type {
                img {
                    width: rem-calc(69); //sic
                    height: rem-calc(54); //sic
                }
            }

            &:nth-child(2) {
                padding-left: 8%;
                padding-right: 4%;

                img {
                    width: rem-calc(79); //sic
                    height: rem-calc(48); //sic
                }
            }

            &:last-of-type {
                padding-left: 5%;
                padding-right: 1%;

                img {
                    width: rem-calc(78); //sic
                    height: rem-calc(56); //sic
                }
            }

            &:not(:first-of-type) {
                border-left: 6px solid rgba($white,0.25);
            }

            &:not(:last-of-type) {
                border-bottom: none;
            }
        }

        .block-heading {}

        .block-number {
            font-size: rem-calc(54);
        }
    
        .block-image {

        }
    
        .block-content {
            font-size: rem-calc(22);

            p {
                font-size: rem-calc(22);
                line-height: 26px;
            }
        }

    }
}