.wp-block-home-callout {

    /**
     * Structure
     */
    .inner-container {
        width: 88%;
        max-width: rem-calc(500);
        margin-right: auto;
        margin-left: auto;
        padding-top: rem-calc(30);
    }

    .block-header {
        width: 92%;
        margin-left: -8px;
        position: relative;
    }

    .block-content {
        margin-top: rem-calc(38);
        width: 108%;
        margin-left: -4%;
        margin-right: -4%;
        position: relative;
    }

    .block-footer {
        margin-top: rem-calc(32);
        padding-bottom: rem-calc(32);
        position: relative;

        a {
            display: inline-block;
            margin-left: -8px;
        }
    }

     /**
      * Style
      */

    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    @keyframes scaleup {
        from { transform: scale(0); }
        to { transform: scale(1); }
    }

    .inner-container {
        background: rgb(255,199,189);
        background: linear-gradient(56deg, rgba(255,199,189,1) 0%, rgba(255,199,189,1) 30%, rgba(255,214,206,1) 30%, rgba(255,214,206,1) 100%);

        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        
        color: $white;
    }

    .block-header {
        padding: rem-calc(30) rem-calc(50);
        font-size: rem-calc(22.23); //sic
        font-weight: $font-weight-xbold;
        line-height: rem-calc(26.91); //sic
        background-color: $primary-color;
        border-radius: 60px;
        animation: scaleup .25s ease-in;

        &:after {
            content: '';
            position: absolute;
            bottom: -22px;
            left: 45px;
            width: 53px;
            height: 42px;

            /* Background image method */
            // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 54 43'%3E%3Cpath d='M.63.77v42.12L53.28.77z' fill='%23F58B6F' fill-rule='evenodd'/%3E%3C/svg%3E");
            // background-size: 53px 42px;
            // background-repeat: no-repeat;


            /* Mask image method */
            mask-image: url('../images/blurb-arrow-bottom-left.svg');
            background-color: $primary-color;
            mask-repeat: no-repeat;
            mask-size: 53px 42px;
        }
    }

    .block-content {
        padding: rem-calc(38) rem-calc(32) rem-calc(24) rem-calc(38);
        background-color: get-color(secondary-dark);
        border-radius: 30px;
        animation: scaleup 1s ease-in;

        p {
            font-size: rem-calc(16.38); //sic
            line-height: 19.89px;
        }

        strong {
            font-size: rem-calc(18.72); //sic
            font-weight: $font-weight-xbold;
            line-height: 22.23px;
        }

        &:after {
            content: '';
            position: absolute;
            transform: rotateY(180deg);
            bottom: -22px;
            right: 92px;
            width: 53px;
            height: 42px;

            /* Background image method */
            // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 54 43'%3E%3Cpath d='M.63.77v42.12L53.28.77z' fill='%238269AE' fill-rule='evenodd'/%3E%3C/svg%3E");
            // background-repeat: no-repeat;
            // background-size: 53px 42px;

            /* Mask image method */
            mask-image: url('../images/blurb-arrow-bottom-left.svg');
            background-color: get-color(secondary-dark);
            mask-repeat: no-repeat;
            mask-size: 53px 42px;

        }
    }

    .block-footer {
        font-size: rem-calc(14.98);
        animation: scaleup .25s ease-in;

        a {
            padding: rem-calc(8) rem-calc(20);
            background-color: $primary-color;
            border-radius: 28px;
            color: $white;
            font-weight: $font-weight-black;
            animation: fadein 1s;

            &:hover {
                background-color: scale-color($primary-color, $lightness: -14%);
            }

            .icon {
                margin-left: rem-calc(12);
                vertical-align: middle;
                display: inline-block;
                background-image: url('../images/icon-link-arrow.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: 15px 15px;
                width: rem-calc(15);
                height: rem-calc(15);
                line-height: 22.47px;
            }
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 17px;
            left: 20px;
            width: 21px;
            height: 16px;
            
            /* Background image method */
            // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 54 43'%3E%3Cpath d='M.63.77v42.12L53.28.77z' fill='%23F58B6F' fill-rule='evenodd'/%3E%3C/svg%3E");
            // background-size: 21px 16px;
            // background-repeat: no-repeat;

            /* Mask image method */
            mask-image: url('../images/blurb-arrow-bottom-left.svg');
            background-color: $primary-color;
            mask-repeat: no-repeat;
            mask-size: 21px 16px;
        }
    }

    /**
     * Small Only :/
     */
    @include breakpoint(small only) {
        margin-top: rem-calc(50);
    }

    /**
     * Medium & down - for breakpoint less than content max-width
     */
     @include breakpoint(large down) {
        .inner-container {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
     }

    /**
     * Medium and Up
     */
    @include breakpoint(large) {

        // max-width: 495px;

        /**
        * Structure
        */
        .block-header {
            width: rem-calc(363); //sic
            margin-left: - rem-calc(45);
            margin-right: auto;
        }

        .block-content {
            width: rem-calc(416);
            margin-right: -93px;
            margin-left: auto;
        }

        .block-footer {
            margin-left: - rem-calc(20);
        }

        /**
        * Style
        */
        .inner-container {
            background: linear-gradient(50deg, rgba(255,199,189,1) 0%, rgba(255,199,189,1) 42%, rgba(255,214,206,1) 42%, rgba(255,214,206,1) 100%);
            width: rem-calc(374);
            padding-bottom: rem-calc(40);
        }

        .block-header {
            font-size: rem-calc(27); //sic
            line-height: 31px; //sic

            &:after {}
        }

        .block-content {
            border-radius: 120px;
            padding: rem-calc(32) rem-calc(46) rem-calc(32) rem-calc(60);

            p {
                font-size: rem-calc(14);
                line-height: 18px;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            strong {
                font-size: 1rem;
                line-height: 20px;
            }

            &:after {}
        }

        .block-footer {
            &:after {} 
        }
        



    }
    

}