.wp-block-curated-posts {

    /**
     * Structure
     */
    
    .inner-container {}

    .block-header {}

    .wp-block-curated-posts {}

    /**
     * Style
     */
     .inner-container {}

     .block-title {
        font-weight: $font-weight-black;
        font-size: rem-calc(24);
        color: get-color(accent);
        letter-spacing: 0.23px;
     }

     .entry-media {
         height: rem-calc(206); //sic
         margin-bottom: rem-calc(27); //sic
         overflow: hidden;
        // @include clipped-corner;
        @include clipped-photo( $size: small );
         

         img {
            width: 100%;
            height: auto;
            object-fit: cover;
         }
     }

     .entry-title {
        font-weight: $font-weight-black;
        font-size: 1rem;
        letter-spacing: 0.15px;
        line-height: 19px;
     }

     .entry-content {
        font-size: rem-calc(14);
        
        p {
            line-height: 18px;
        }
     }

    //  .read-more {
    //     font-weight: $font-weight-bold;
    //     font-size: rem-calc(14);
    //     line-height: 18px;
    //     color: $body-font-color;

    //     &:hover {
    //         color: $secondary-color;
    //     }
    //  }

     article {
        padding-bottom: rem-calc(43); //sic
        margin-bottom: rem-calc(46);
        border-bottom: 1px solid get-color(gray-medium);
    }

    &:last-child {
        article {
            &:last-child {
                padding-bottom: 0;
                margin-bottom: 0;
                border: none;
            }
        }
    }
 
    /**
     * Medium & up
     */
    @include breakpoint(medium) {

        /**
        * Structure
        */
        &:last-child {
            padding-bottom: rem-calc(140); //sic
        }

        article {
            display: flex;
            flex-wrap: wrap;
            align-self: flex-start;
        }

        .entry-media {
            @include xy-cell(2 of 6, $gutters: 56, $gutter-type: padding, $gutter-position: right);
            margin-bottom: 0;
            height: auto;
        }

        .entry-body {
            @include xy-cell(4 of 6, $gutters: 0);
        }

        /**
        * Style
        */
        article {
            &:not(:last-child) {
                padding-bottom: rem-calc(36);
                margin-bottom: rem-calc(36);
                border-bottom: 1px solid get-color(gray-medium);
            }
        }

        .inner-container {}

        .block-title {
            margin-bottom: rem-calc(30);
        }


    }
    
}