.wp-block-kadence-tabs {

    @include fullwidth;

    /**
     * Structure
     */
    .kt-tabs-title-list,
    .kt-tabs-content-wrap {
        @include xy-grid-container;
        padding-right: 0;
        padding-left: 0;
    }

    .kt-tabs-title-list {
        @include xy-grid;
        flex-wrap: nowrap !important;

        li {
            margin: 0;
        }
    }

    .kt-tabs-has-2-tabs {
        .kt-tabs-title-list {
            li {
                @include xy-cell(1 of 2, $gutters: 0);
            }
        }
    }

    .kt-tabs-has-3-tabs {
        .kt-tabs-title-list {
            li {
                @include xy-cell(1 of 3, $gutters: 0);
            }
        }
    }

    .kt-tabs-has-4-tabs {
        .kt-tabs-title-list {
            li {
                @include xy-cell(1 of 4, $gutters: 0);
            }
        }
    }

    /**
     * Style
     */
    background-color: $light-gray;

    /* Tabs */
    .kt-tabs-title-list {
        li {
            font-weight: $font-weight-black;
            font-size: rem-calc(15);
            
            letter-spacing: 0.53px;  //sic
            text-align: center;
            line-height: rem-calc(18.55); //sic
        }

        li + li {
            border-left: 2px solid $white;
        }

        a {
            height: 100%;
            padding-top: rem-calc(28) !important;
            padding-bottom: rem-calc(28) !important;
            background-color: $medium-gray;
            border: none !important;
            border-radius: 0 !important;
            color: $white !important;
            border-image-width: 0 !important;
            text-transform: uppercase;

            &:hover {
                background-color: $hover-secondary;
            }
        }

        .kt-tab-title-active {
            z-index: 1 !important;

            a {
                background-color:  $secondary-dark-color !important;
            }

            &:after {
                content: '';
                background-image: url('../images/blurb-arrow-down.svg');
                background-repeat: no-repeat;
                background-position: center bottom;
                background-size: rem-calc(24) rem-calc(13); //sic
                position: absolute;
                bottom: - rem-calc(12);
                width: rem-calc(24);
                height: rem-calc(13);
                @include horizontal-center;
            }
            
        }

        .kt-title-text {
            width: 100%;
        }
    }

    /* Content */
    .wp-block-kadence-tab {
        border: none !important;
        padding: rem-calc(27) 0 rem-calc(57) 0;
        // padding-top: rem-calc(27); // Add px active arrow
        // padding-bottom: rem-calc(57); // sic
        color: $black-7;

        h2 {
            margin-bottom: rem-calc(14);
            font-weight: $font-weight-black;
            font-size: rem-calc(30);
            color: $accent-color;
            line-height: rem-calc(38);
        }

        h3 {
            margin-bottom: rem-calc(24);
            font-weight: $font-weight-black;
            font-size: rem-calc(20);
            color: $secondary-dark-color;
            line-height: rem-calc(24);
        }

        ul {
            list-style: none;
            margin-left: 0;
            margin-bottom: 0;
        }

        li {
            font-size: rem-calc(14);
            line-height: rem-calc(18);

            strong {
                font-weight: $font-weight-black;
                font-size: rem-calc(15);
                line-height: rem-calc(20);
            }

            em {
                font-weight: $font-weight-semi-bold;
                font-size: rem-calc(15);
                line-height: rem-calc(23);
                font-style: normal;
            }
        }

        li + li {
            margin-top: rem-calc(23); //sic
        }

    }

    .kt-tabs-wrap {}

    @include breakpoint(small only) {
        
        /* Content */
        .wp-block-kadence-tab {

            /* Horizontal rule before h3 heading when followed by list */
            ul + h3 {
                border-top: 1px solid $medium-gray; // Design files have #D8D8D8, but normalized
                padding-top: rem-calc(38);
                margin-top: rem-calc(34);
            }
        }
    }

    @include breakpoint(medium) {
        /**
        * Structure
        */
        

        /**
        * Style
        */
        .kt-tabs-title-list {
            @include xy-grid-container;
            margin-bottom: 0;
            
            li {
                font-size: rem-calc(19.8); //sic
                letter-spacing: 0.69px;
                line-height: rem-calc(44.55);

                a {
                    padding-top: rem-calc(23) !important;
                    padding-bottom: rem-calc(23) !important;
                }

                &:first-of-type {
                    margin-left: rem-calc(190);

                    a {
                        background-image: url('../images/shape-tab-corner.svg');
                        background-position: top left -2px;
                        background-repeat: no-repeat;
                        background-size: rem-calc(65) 100%;
                     }
                }
            }

            li + li {
                border-left: 10px solid $white;
            }

            .kt-tab-title-active {
                &:after {
                    content: '';
                    background-size: rem-calc(42) rem-calc(21);
                    bottom: - rem-calc(20);
                    width: rem-calc(42);
                    height: rem-calc(21);
                }
            }
        }

        $tab-height: rem-calc(90);

        /* Make last tab look like it extends to edge */
        .kt-tabs-wrap {
            background: linear-gradient(225deg, $white, $white);
            background-size: 50% $tab-height;
            background-position: 100% 0%;
            background-repeat: no-repeat;
        }
        /* Make last active tab look like it extends to edge */
        .kt-tabs-has-2-tabs {
            &.kt-active-tab-2 {
                background: linear-gradient(225deg, $secondary-dark-color, $secondary-dark-color);
                background-size: 50% $tab-height;
                background-position: 100% 0%;
                background-repeat: no-repeat;
            }
        }
        .kt-tabs-has-3-tabs {
            &.kt-active-tab-3 {
                background: linear-gradient(225deg, $secondary-dark-color, $secondary-dark-color);
                background-size: 50% $tab-height;
                background-position: 100% 0%;
                background-repeat: no-repeat;
            }

            .kt-tabs-title-list {
                li + li {
                    border-left: 7px solid $white;
                }
            }
        }
        .kt-tabs-has-4-tabs {
            &.kt-active-tab-4 {
                background: linear-gradient(225deg, $secondary-dark-color, $secondary-dark-color);
                background-size: 50% 90px;
                background-position: 100% 0%;
                background-repeat: no-repeat;
            }

            .kt-tabs-title-list {
                li + li {
                    border-left: 7px solid $white;
                }
            }
        }

        /* Content */
        .kt-tabs-content-wrap {
            padding-top: rem-calc(10);
        }

        .wp-block-kadence-tab {
            padding-top: 0 !important;

            h2 { // Same as small 
            }
            
            h3 { //same as small 
            }

            .wp-block-columns {
                @include xy-grid;
            }

            .wp-block-column {
                
                &:first-child {
                    @include xy-cell(3 of 12, $gutters: 100, $gutter-type: padding, $gutter-position: right);
                    flex-basis: calc(100% / 4);
                }

                &:last-child {
                    @include xy-cell(9 of 12, $gutters: 100, $gutter-type: padding, $gutter-position: left);
                    flex-basis: calc((100% / 4) * 3);
                    margin-top: rem-calc(50); // 38px + for line-height
                    margin-left: 0; //override build-in style

                    border-left: 1px solid $medium-gray; // Design files have #D8D8D8, but normalized

                    ul {
                        column-count: 3;
                        column-gap: rem-calc(60);
                        // -webkit-column-break-inside: avoid; /* Chrome, Safari */
                        // page-break-inside: avoid;           /* Theoretically FF 20+ */
                        // break-inside: avoid-column; 

                        li {
                            page-break-inside: avoid;  
                            // break-inside: avoid-column;
                            // break-inside: avoid;
                        }
                    }
                }
            }

        }

    }

    @include breakpoint(large) {
        /**
        * Structure
        */
        // @include fullwidth;

        // .kt-tabs-wrap {
        //     @include xy-grid-container;
        // }

        /**
        * Style
        */

    }

}