.button {
    @include button($background: map-get($button-palette, primary), $background-hover: map-get($hover-palette, primary));
    font-weight: $font-weight-black;
    letter-spacing: 0.4px;

    &.read-more:hover,
    &:hover {
        font-weight: $font-weight-black;
    }

    &.large {
        padding: rem-calc(20) rem-calc(42);
        font-size: rem-calc(17);

        &:hover {
            font-weight: $font-weight-black;
        }
    }

    &.accent {
       background-color: map-get($button-palette, accent);
       
       &:hover {
            background-color: map-get($hover-palette, accent);
            font-weight: $font-weight-black;
       }
    }

    &.primary {
        background-color: map-get($button-palette, primary);

       &:hover {
            background-color: map-get($hover-palette, primary);
            font-weight: $font-weight-black;
       }
    }

    &.secondary {
        background-color: map-get($button-palette, secondary);

       &:hover {
            background-color: map-get($hover-palette, secondary);
            font-weight: $font-weight-black;
       } 
    }
}

%large-button {
    padding: rem-calc(20) rem-calc(42);
    font-size: rem-calc(17);
}

input[type="search"] {
    border-radius: $button-radius;
    padding-left: $form-spacing;
    border-color: transparent;
    margin-bottom: 0;
    background-image: url('../images/icon-magnifying-glass.svg');
    background-repeat: no-repeat;
    background-size: rem-calc(17) rem-calc(18);
    background-position: right $form-spacing center;
}

.search-submit {
    @include element-invisible;
}



