p {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p:empty {
	display: none;
 }

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {

	cite {}
}

pre {}

code,
kbd,
tt,
var {}

abbr, acronym {}

mark,
ins {}

big {}


a {
	text-decoration: $anchor-text-decoration;
	color: $anchor-color;

	&:hover {
		text-decoration: $anchor-text-decoration-hover;
		color: $anchor-color-hover;
	}

	&:focus {
		text-decoration: underline;
	}
}
