@import 'settings';

@import 'utilities/util';

/**
 * Image Styles
 */
.is-style-clipped {
	@include clipped-photo;
}

.is-style-clipped-top {
	@include clipped-photo($corner: top-right);
}

@include breakpoint( medium ) {
	.is-style-clipped {
		@include clipped-photo($size: medium);
	}

	.is-style-clipped-top {
		@include clipped-photo($size: medium, $corner: top-right);
	}
}

/**
 * List Styles
 */
.is-style-bullets {
	list-style: initial !important;
	margin-left: 1rem !important;
	
	li {}

	li + li {
		margin-top: .5rem !important;
	}
}