@mixin slanted-border() {
    content: "";
    position: absolute;
    z-index: 2;
    right: -14px;
    bottom: 0;
    border-left: 14.4px solid #ecdec3;
    border-top: 38px solid transparent;
}

@mixin clipped-corner($corner: top-right, $height: 50px, $width: 60px) {
    @if $corner == top-left {
        clip-path: polygon(0 #{$height}, #{$width} 0, 100% 0, 100% 100%, 0 100%);
    } @else if $corner == top-right {
        clip-path: polygon(0 100%, 0 0, calc(100% - #{$width}) 0, 100% #{$height}, 100% 100%);
    } @else if $corner == bottom-right {
        clip-path: polygon(
            100% calc(100% - #{$height}), /*right bottom 100% - height px*/
            calc(100% - #{$width}) 100%, /* right bottom - 100% - width px */
            0 100%, /*left bottom*/
            0 0, /*left top*/
            100% 0 /*right top*/
        );
    } @else if $corner == bottom-left {
        clip-path: polygon(0 calc(100% - #{$height}), 0 0, 100% 0, 100% 100%, #{$width} 100%);
    } @else {
        clip-path: polygon(0 0, calc(100% - #{$width}) 0, 100% #{height}, 100% 100%, 0 100%);
    }

}

@mixin skew($side: left, $deg: -30deg, $right: -30px, $left: -30px, $width: 100px, $bg: $primary-color) {
    position: relative;

    &:before {
        z-index: 0;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;

        @if $side == right {
            right: $right;
        }
        @else if $side == left {
            left: $left;
        }

        display: block;
        width: $width;
        background: $bg;
        -webkit-transform: skew($deg);
            -ms-transform: skew($deg);
                transform: skew($deg);
    }
}

@mixin container($max-width: $grid-container) {
    $gutter: map-get($grid-margin-gutters, medium);
    width: 100%;
    max-width: $max-width;
    padding-right: calc(#{$gutter}/2);
    padding-left: calc(#{$gutter}/2);

    @include breakpoint(medium) {
        $gutter: map-get($grid-margin-gutters, medium);
        padding-right: calc(#{$gutter}/2);
        padding-left: calc(#{$gutter}/2);
    }
}

/* @see https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
@mixin dont-break-out {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

@mixin fullwidth() {
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
	max-width: 100vw;
	width: 100vw;
}