/* Footer */
.site-footer {
    
    /**
     * Structure
     */
    .widget-area {
        @include xy-grid-container;
        @include xy-grid;
        
        padding-top: rem-calc(45);
        padding-bottom: rem-calc(65);
    }

    .widget-column {}

    .footer-widget-2 {
        @include xy-grid;

        nav {
            @include xy-cell(1 of 2, $gutters: 20, $gutter-type: padding, $gutter-position: right);
        }

        .menu {
            a {
                padding: 0;
            }
        }

        .footer-menu {
            li {
                width: 100%;
            }
        }

        .social-menu {
            display: flex;
            justify-content: flex-end;

            li {
                margin-left: rem-calc(13);
            }
        }
    }

    .footer-widget-4 {
        .supporters {
            margin-top: rem-calc(4);

            .textwidget {
                @include xy-grid;
                flex-wrap: nowrap;
                align-items: top;
            }

            p {
                &:first-of-type {
                    width: rem-calc(128);
                    flex: 0 0 rem-calc(128);
                }

                &:last-of-type {
                    flex: 1 1 auto;
                    padding-left: rem-calc(21);
                }
            }

        }
    }

    .footer-navigation {}

    /**
     * Style
     */
    background-color: $dark-gray;
    color: $white;

    font-size: rem-calc(14);
    font-weight: $font-weight-semi-bold;
    line-height: rem-calc(21);

    a {
        color: $white;
    }

    h4 {
        margin-bottom: rem-calc(17);
        font-weight: $font-weight-black;
    }

    .button {
        width: 100%;
        font-size: rem-calc(15);
        letter-spacing: 0.5px;
        text-transform: uppercase;
    }


    .search-submit {
        display: none;
    }

    .widget-column {
        width: 100%;
    }

    .social-menu {
        .icon {
            display: inline-block;
            width: rem-calc(30);
            height: rem-calc(30);
            background-size:  rem-calc(30) rem-calc(30);
            background-position: top right;
            background-repeat: no-repeat;
            color: $white;
        }

        a[href*="facebook"] {
            .icon {
                // mask-image: url('../images/icon-facebook.svg');
                background-image: url('../images/icon-facebook.svg');
            }
        }

        a[href*="twitter"] {
            .icon {
                // mask-image: url('../images/icon-twitter.svg');
                background-image: url('../images/icon-twitter.svg');
            }
        }
    }

    .footer-widget-1 {
        .widget_media_image {
            margin-bottom: rem-calc(20);

            img {
                width: rem-calc(124);
                height: rem-calc(103);
            }
        }

        .button {
            @include button($background: $secondary-color, $background-hover: $hover-secondary);
            margin-top: rem-calc(6);
            margin-bottom: 0;
        }

        p {
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .footer-widget-2 {}

    .footer-widget-3 {
        .widget_text {
            p {
                margin-bottom: 0;
            }
            .button {
                margin-bottom: rem-calc(15);
            }
        }
    }

    .footer-widget-4 {
        .newsletter {
            .button {
                @include button($background: $secondary-color, $background-hover: $hover-secondary);
            }
        }

        .supporters {
            p {
                margin-bottom: 0;
                line-height: rem-calc(20);
            }
        }
    }

    nav {
        a {
            line-height: rem-calc(30);
        }
    }

    @include breakpoint(small only) {
        .widget-column {    
            &:not(:last-of-type) {
                border-bottom: 1px solid get-color(gray-medium);
                margin-bottom: rem-calc(32);
                padding-bottom: rem-calc(32);
            }
        }

        .footer-widget-4 {}
    }

    @include breakpoint(medium) {
       /**
        * Structure
        */
        .widget-area {
            padding-top: rem-calc(70);
            padding-bottom: rem-calc(96);
            align-items: stretch;
        }

        .widget-column {}

        $gutters: rem-calc(34) * 2;
        $widths: (
            col1: 435px, // Was 418, normalized to 435
            col2: 166px, // Was 168, normalized to 166
            col3: 280px, // Was 279, normalized to 280
            col4: 316px // Was 293, normalized to 316
          );
        $percents: (
            col1: (map-get($widths,col1) / $breakpoint-large) * 100%,
            col2: (map-get($widths,col2) / $breakpoint-large) * 100%,
            col3: (map-get($widths,col3) / $breakpoint-large) * 100%,
            col4: (map-get($widths,col4) / $breakpoint-large) * 100%,
        );

        .footer-widget-1 {
            @include xy-cell(map-get($percents,col1), $gutters: $gutters, $gutter-type: padding, $gutter-position: right);

            @include xy-grid;
            flex-wrap: nowrap;

            .widget_media_image {
                // flex-basis: rem-calc(138);
                width: rem-calc(138);

                img {
                    width: rem-calc(138);
                    height: rem-calc(117);
                }
            }

            .widget_text {
                flex-basis: auto;
                padding-left: rem-calc(33); //sic
            }

            .textwidget {
                align-self: stretch;
            }
        }

        .footer-widget-2 {
            @include xy-cell(map-get($percents,col2), $gutters: $gutters, $gutter-type: padding, $gutter-position: right left );
            padding-left: rem-calc(33); // sic - design has inconsistent padding
            padding-right: rem-calc(30); // sic - design has inconsistent padding

            display: flex;
            flex-wrap: wrap;
            align-items: stretch;

            & > div {
                width: 100%;
            }

            nav {
                @include xy-cell($gutters: 0);
                padding-right: 0;
            }

            .footer-menu {
                a {
                    line-height: rem-calc(16);
                }

                li + li {
                    margin-top: 1rem;
                }
            }

            .social-navigation {
                align-self: flex-end;
                text-align: left;

                li {
                    margin-left: 0;
                    margin-right: rem-calc(10);
                }
            }

            .social-menu {
                justify-content: flex-start;
            }
        }

        .footer-widget-3 {
            @include xy-cell(map-get($percents,col3), $gutters: $gutters, $gutter-type: padding, $gutter-position: right left );
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;

            & > div {
                width: 100%;
            }

            .widget_text {
                align-self: stretch;
            }

            .widget_search {
                align-self: flex-end;
            }
        }

        .footer-widget-4 {
            @include xy-cell(map-get($percents,col4), $gutters: $gutters, $gutter-type: padding, $gutter-position: left);

            display: flex;
            flex-wrap: wrap;
            align-items: stretch;

            & > div {
                width: 100%;
            }

            .newsletter {
                .widget-title {
                    width: 60%;
                }
            }

            .supporters {
                align-self: flex-end;
                margin-top: 0;
    
                .textwidget {
                    @include xy-grid;
                    flex-wrap: nowrap;
                }
    
                /* Supporters logo and text */
                p {
                    &:first-of-type {
                        width: rem-calc(69);
                        flex-basis: rem-calc(69);
                    }
    
                    &:last-of-type {
                        padding-left: rem-calc(21);
                    }
                }
    
            }
        }

        .social-navigation,
        .social-navigation * {
            height: rem-calc(30);
        }

       /**
        * Style
        */
        line-height: rem-calc(18);

        .button,
        p .button {
            padding: rem-calc(14) rem-calc(38) !important;
            font-size: rem-calc(12) !important;
            letter-spacing: 0.4px !important;
            margin-bottom: 0 !important;
        }

        .textwidget {
            p {
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        .search-field {
            font-size: rem-calc(12);
            letter-spacing: 0.4px;
        }

        .widget-column {    
            &:not(:last-of-type) {
                border-right: 1px solid get-color(gray-medium);
            }
        }

        .footer-widget-3 {
            .widget_text {}
        }

        .footer-widget-4 {
            .supporters {
                img {
                    width: rem-calc(69);
                    height: auto
                }

                p {
                    font-size: rem-calc(11);
                    line-height: rem-calc(16);
                }

            }
        }

    }

    @include breakpoint(large) {}
}