/* Page Header */
body:not(.home) {
    .site-main {
        &> article {
            &> .entry-header {
                display: flex;
                flex-wrap: wrap;
                height: rem-calc(118);
                background-color: get-color(accent);
                color: white;
            }

            .page-content-header {
                display: flex;

                .entry-title {
                    margin-bottom: 0;
                    flex-basis: 55%;
                    align-self: center;
                }
    
                .shape-separator {
                    height: rem-calc(50);
                    flex-basis: 45%;
                    align-self: flex-end;            
                }

                @include breakpoint(medium) {
                    .entry-title {}
                    
                    .shape-separator {
                        height: rem-calc(83); //sic
                    }
                }
            }

            &> .entry-content {
                @include xy-grid-container;
            }
        }
    }
}


/* Home */
.home {
    .entry-content {
        .wp-block-cover__inner-container {
            @include xy-grid-container;
        }

        .ugb-content-wrapper {
            @include xy-grid-container;
        }

        .wp-block-columns {
            @include xy-grid-container;
        }

        .ctf-tweets {
            @include xy-grid-container;
        }
    }
}
/* History */
.page-template-history-timeline {
    .timeline-component {}

    @include breakpoint(medium) {
        .timeline-component {
            @include xy-grid-container;
        }
    }
}
