/* Page Header */
.page {
    .page-content-header {}
}

/* Secondary Page Title */
// .entry-content {
//     &> h2 {
//         color: get-color( accent );
//         font-size: rem-calc(24);
//     }
// }

.content-section {
    .history {

        &:not(:last-child) {
            margin-bottom: rem-calc(48);
        }

        /* Layout */
        @include xy-grid;

        .entry-media,
        .entry-header,
        .entry-content,
        .entry-footer {
            @include xy-cell(12, $gutters: 0);
        }

        .entry-media {
            order: 3;
        }
        .entry-header {
            order: 1;
        }
        .entry-content {
            order: 2;
        }
        .entry-footer {
            order: 4;
        }

        @include breakpoint(medium) {
            &:not(:last-child) {
                margin-bottom: rem-calc(90);
            }

            .entry-media {
                margin-bottom: 0;
            }

            .entry-body {
                @include xy-cell(9, $gutters: 0);

                .entry-header,
                .entry-content {
                    margin-right: 0;
                    margin-left: 0;
                }
            }

            &.has-post-thumbnail {
                .entry-media {
                    @include xy-cell(4, $gutters: 0);
                    // @include xy-gutters(50, $gutter-type: padding, $gutter-position: left);
                    // @include xy-gutters($gutter-position: bottom);
                }
                .entry-body {
                    @include xy-cell(8, $gutters: 0);
                    // @include xy-gutters($gutter-position: bottom);
                    // @include xy-gutters(50, $gutter-type: padding, $gutter-position: right);
                }
            }

            .entry-footer {
                @include xy-cell($gutters: 0);
            }

            &:nth-child(odd) {
                .entry-media {
                    order: 1;
                    @include xy-gutters(50, $gutter-type: padding, $gutter-position: right);
                }
                .entry-body {
                    order: 2;
                    @include xy-gutters(50, $gutter-type: padding, $gutter-position: left);
                }
                .entry-footer {
                    order: 3;
                }
            }

            &:nth-child(even) {
                .entry-media {
                    @include xy-gutters(50, $gutter-type: padding, $gutter-position: left);
                }
                .entry-body {
                    @include xy-gutters(50, $gutter-type: padding, $gutter-position: right);
                }
                .entry-footer {}
            }

            &.has-post-thumbnail {}
        }

        /* Content Style */
        .entry-title {
            margin-bottom: rem-calc(14);

            color: get-color( accent );
            font-size: rem-calc(20);
            line-height: 26px;
        }

        .entry-media {
            @include clipped-corner(bottom-right);

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }

        .entry-content {
            margin-bottom: rem-calc(48);

            font-size: $small-font-size;
            // line-height: 18px; //sic

            p {
                font-size: $small-font-size;
                line-height: 18px; //sic - this doesn't look good
            }
        }

        @include breakpoint(medium) {
            .entry-media {
                @include clipped-corner(bottom-right, 104px, 96px);
            }
    
        }
    }
}

