.post-template-default {
    /**
     * Structure
     */
    .site-main {
        .entry-meta,
        .entry-content,
        .entry-footer,
        .post-navigation {
            @include xy-grid-container;
        }

        .entry-content {
            padding-top: rem-calc(40);
            padding-bottom: rem-calc(50);
        }
    }

    /**
     * Style
     */
    .entry-content {
        font-size: rem-calc(16);
        line-height: rem-calc(21);

        * {
            font-size: rem-calc(16);
            line-height: rem-calc(21);
        }

        p {
            line-height: rem-calc(21);
        }

        li {}

        .wp-block-quote,
        .wp-block-quote p {
            font-size: rem-calc(20);
            line-height: rem-calc(26);
            color: $secondary-color;
        }

        .wp-block-quote {
            border-left: none;
            margin: rem-calc(40) 0;
            padding: rem-calc(34) 0;
            border-top: 2px solid $secondary-color;
            border-bottom: 2px solid $secondary-color;

            cite {
                font-size: rem-calc(14);
                line-height: rem-calc(20);
                font-weight: $font-weight-semi-bold;
                color: black;
                text-align: right;
            }
        }
    }

    .page-content-header {}

    .post-navigation {
        margin-bottom: rem-calc(53); //sic
    }

    @include breakpoint(medium) {
        .page-content-header {}

        .site-main {
            .entry-meta,
            .entry-content,
            .entry-footer,
            .post-navigation {}
    
            .entry-content {
                padding-top: rem-calc(50);
                padding-bottom: rem-calc(70);
            }
        }

        .entry-content {}

        .wp-block-quote,
        .wp-block-quote p {}

        .wp-block-quote {
            margin-top: rem-calc(53);
            margin-bottom: rem-calc(50);

            p {
                padding-right: rem-calc(50);
            }

            cite {}

        }

        .post-navigation {
            margin-bottom: rem-calc(70); //sic
        }
    }
}

/**
 * Our Story History Posts
 */
.content-section {
    .history {

        &:not(:last-child) {
            margin-bottom: rem-calc(48);
        }

        /* Layout */
        @include xy-grid;

        .entry-media,
        .entry-header,
        .entry-content,
        .entry-footer {
            @include xy-cell(12, $gutters: 0);
        }

        .entry-media {
            order: 3;
        }
        .entry-header {
            order: 1;
        }
        .entry-content {
            order: 2;
        }
        .entry-footer {
            order: 4;
        }

        @include breakpoint(medium) {
            &:not(:last-child) {
                margin-bottom: rem-calc(50);
            }

            .entry-media {
                margin-bottom: 0;
            }

            .entry-body {
                @include xy-cell(9, $gutters: 0);

                .entry-header,
                .entry-content {
                    margin-right: 0;
                    margin-left: 0;
                }
            }

            &.has-post-thumbnail {
                .entry-media {
                    @include xy-cell(4, $gutters: 0);
                }
                .entry-body {
                    @include xy-cell(8, $gutters: 0);
                }
            }

            .entry-footer {
                @include xy-cell($gutters: 0);
            }

            &:nth-child(odd) {
                .entry-media {
                    order: 1;
                    @include xy-cell(4 of 12, $gutters: 50, $gutter-position: right);
                }
                .entry-body {
                    order: 2;
                    @include xy-cell(8 of 12, $gutters: 50, $gutter-position: left);
                }
                .entry-footer {
                    order: 3;
                }
            }

            &:nth-child(even) {
                .entry-media {
                    @include xy-cell(4 of 12, $gutters: 50, $gutter-position: left);
                }
                .entry-body {
                    @include xy-cell(8 of 12, $gutters: 50, $gutter-position: right);
                }
                .entry-footer {}
            }

            &.has-post-thumbnail {}
        }

        /* Content Style */
        .entry-title {
            margin-bottom: rem-calc(14);

            color: get-color( accent );
            font-weight: $font-weight-bold;
            font-size: rem-calc(20);
            line-height: 26px;
        }

        .entry-media {
            // @include clipped-corner(bottom-right);

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
                @include clipped-corner(bottom-right, 30px, 40px);
            }
        }

        .entry-content {
            margin-bottom: rem-calc(42);

            font-size: $small-font-size;
            // line-height: 18px; //sic

            p {
                font-size: $small-font-size;
                line-height: 18px; //sic - this doesn't look good

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        @include breakpoint(medium) {
            .entry-media {}

            .entry-content {
                font-size: rem-calc(14);

                p {
                    font-size: rem-calc(14);
                }

            }
    
        }
    }
}

/* Posts in Content Footer */
.wp-block-custom-content-footer {
    
    /**
     * Structure
     */
    article {
        &.has-post-thumbnail {}

        .entry-media {
            $tab-height: rem-calc(46);
            $tab-width: rem-calc(106);
            $end: rem-calc(22);

            clip-path: 
                polygon(
                    0% 0%, 
                    100% 0, 
                    100% 100%, 
                    calc( #{$tab-width} + #{$end} ) 100%, 
                    $tab-width calc( 100% - #{$tab-height} ), 
                    0 calc( 100% - #{$tab-height} )
                );

            width: 100%;
            height: rem-calc(250);
            overflow: hidden;

            img {
                background-color: $light-gray;
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }

    /**
     * Style
     */
    .entry-meta {
        margin-top: - rem-calc(22);
        font-weight: $font-weight-bold;
        font-size: rem-calc(14);
        line-height: rem-calc(20);
    }

    .entry-title {
        margin-top: rem-calc(36);
        margin-bottom: rem-calc(15);
        font-weight: $font-weight-black;
        font-size: rem-calc(18);
        line-height: rem-calc(20);

        a {
            color: $white;
        }
    }

    .entry-content {
        margin-bottom: rem-calc(25);

        p {
            font-size: rem-calc(14);
            line-height: rem-calc(18);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .button {
        @include button( $background: $secondary-alternate-color, $background-hover: $hover-secondary );
        margin-bottom: 0;
    }

    @include breakpoint(small only) {
        .wp-block-column + .wp-block-column {
            margin-top: rem-calc(57); //sic
        }
    }

    @include breakpoint(medium) {
        /**
        * Structure
        */
        article {
            &.has-post-thumbnail {}
    
            .entry-media {
                $tab-height: rem-calc(42); //shorter than on mobile?
                $tab-width: rem-calc(138);
                $end: rem-calc(20);
    
                clip-path: 
                    polygon(
                        0% 0%, 
                        100% 0, 
                        100% 100%, 
                        calc( #{$tab-width} + #{$end} ) 100%, 
                        $tab-width calc( 100% - #{$tab-height} ), 
                        0 calc( 100% - #{$tab-height} )
                    );
    
                height: rem-calc(323);
    
                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        /**
        * Style
        */
        .entry-meta {
            font-size: rem-calc(16);
            line-height: rem-calc(20);
        }

        .entry-title {
            font-size: rem-calc(18);
            line-height: rem-calc(20);
        }

        .entry-content {
            p {}
        }

     }

}