.page-get-help {
    /**
     * Structure
     */

    /**
     * Style
     */
    .intro-content {
        p {
         font-size: rem-calc(20);
         line-height: rem-calc(25);
        }
    }
    
    @include breakpoint(medium) {
        /* Target only main content area */

        .site-main {
            &> article {
                &> .entry-content {
                    padding-bottom: 0;

                    &> .has-2-columns {
                        .wp-block-column {
                            $width: 66.66666666%;

                            .wp-block-image {
                                float: left;
                
                                width: calc( 100% - #{$width} );
                                text-align: right;
                
                                img {
                                    height: auto;
                                    max-width: 100%;
                                    padding-right: rem-calc(30);
                                }
                                &:after { 
                                    content: "";
                                    display: block; 
                                    clear: both;
                                  }
                            }
                
                            h3  {
                                width: $width;
                                float: right;
                            }
                
                            p {
                                width: $width;
                                float: right;
                            }
                
                            .wp-block-button {
                                width: $width;
                                float: right;
                
                                &:after { 
                                    content: "";
                                    display: block; 
                                    clear: both;
                                }
                            }

                            p + .wp-block-button {
                                margin-top: rem-calc(15); //16px + 15 = 32
                            }

                            .wp-block-button + .wp-block-separator {
                                padding-bottom: rem-calc(60)
                            }
                
                            .wp-block-separator {
                                @include clearfix;
                                margin-bottom: rem-calc(60);
                            }
                
                        }
                    }
                }
            }
        }

       /**
        * Structure
        */
        .wp-block-custom-content-footer {
            .inner-container {
                &> h2 {
                    margin-right: 50%;
                    margin-bottom: rem-calc(25);
                }
                &> p {
                    margin-right: 50%;
                }
            }
        }

       /**
        * Style
        */
        .wp-block-custom-content-footer {
            .inner-container {
                padding-bottom: rem-calc(70);

                &> h2 {}
                &> p {
                    font-size: rem-calc(14);
                    line-height: rem-calc(18);
                }
            }
        }
    }

}