.page-template-history-timeline {

    /**
     * Structure
     */

    .site {
        overflow: hidden;
    }

    .wp-block-custom-intro {}

    /**
     *  Style
     */
     .site-main {
         &> article {
            &> .entry-content {

                padding-top: 0;

                &> .entry-title {
                    padding-right: 10%;
                    
                    font-weight: $font-weight-black;
                    font-size: rem-calc(24);
                    color: get-color(accent);
                    line-height: rem-calc(31);
                }
            }
         }
     }

    @include breakpoint(small only) {
        /**
        *  Structure
        */
        .site-main {
            &> article {
                &> .entry-content {

                    

                    &> .entry-title {}
                }
            }
        }

        /**
        *  Style
        */
        .site-main {
            &> article {
                &> .entry-content {

                    &> .entry-title {}
                }
            }
        }
    }

    .timeline-component {}

    @include breakpoint(medium) {

        /**
         * Override default 7/12 intro content width
         */
        .intro-content {
            width: 100%;
        }

        .timeline-component {
            @include xy-grid-container;
        }


       /**
        *  Style
        */
        .site-main {
            &> article {
                &> .entry-content {

                    &> .entry-title {
                        margin-bottom: rem-calc(42);
                        line-height: rem-calc(47);
                    }

                }
            }
        }

        
    }
}
