.home {

    /* Override general styls */
    .site-main {
        &> article {
            &>.entry-content {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }

    .entry-content {

        /**
         * Structure
         */
         .wp-block-cover,
         .wp-block-number-counter {
             .inner-container {
                 @include xy-grid-container;
             }
         }
         .wp-block-titter-timeline {
            .inner-container {
                max-width: 100%;
            }
        }
 
        .wp-block-columns {
             position: relative;
             @include xy-grid-container;
             @include xy-grid;

             margin-top: rem-calc(40);

             .wp-block-column {
                 @include xy-cell(12, $gutters: 0);
                 flex-basis: 100%;
                 margin-bottom: 0;

                 &:last-of-type {
                    align-self: flex-end;
                }
             }
        }

        /**
         * Large and up
         */
        @include breakpoint(large) {
            .wp-block-cover__inner-container {}
    
            .ugb-content-wrapper {}
    
            .wp-block-columns {
                margin-top: rem-calc(50);

                .wp-block-column {
                    flex-basis: 50%;

                    &:first-of-type {
                        @include xy-cell(6, $gutters: 40, $gutter-type: padding, $gutter-position: right);
                        align-self: flex-start;
                    }
                    &:last-of-type {
                        @include xy-cell(6, $gutters: 40, $gutter-type: padding, $gutter-position: left);
                    }
                }
            }

        }


        /**
         * Style
         */
        .wp-block-custom-group {
            &.has-background {
                background-color: $secondary-color;
            }
        }

        .wp-block-titter-timeline {}

    }

    @include breakpoint(medium) {
        /* Override general styls */
        .site-main {
            &> article {
                &>.entry-content {
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
        }
    }
}
