.page-template-news-events {

    .section-posts__inner-container,
    .section-events__inner-container  {
        @include xy-grid-container;
    }

    .entry-media-wrapper {
        margin-bottom: rem-calc(34);
    }

    /**
     * Structure
     */
    .posts-list {
        display: grid;
    }

    .section-posts {

        .posts-list {
            gap: rem-calc(42) rem-calc(68);
        }
    }

    .section-events {
        margin-top: rem-calc(50);
        padding-top: rem-calc(50);
        padding-bottom: rem-calc(50);

        .section-header {
            align-items: flex-start;
            margin-bottom: rem-calc(40);
        }

        .posts-list {
            // grid-row-gap: rem-calc(52);
            gap: rem-calc(52) rem-calc(24);
        }
    }
 
    .section-header {
        @include xy-grid();
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: rem-calc(52);
    }

    .section-title {
        flex: auto 0 1;
        // @include xy-cell(auto, $gutters: 0);
        // padding-right: 20px;
    }

    .section-subtitle {
        flex: auto 0 1;
        // @include xy-cell(auto, $gutters: 0);
        // padding-left: 20px;
    }

    .section-footer {
        margin-top: rem-calc(58);
        text-align: center;
    }

    /**
     * Style
     */
    /* Alternate intro text styling */
    .intro-content {
        p {
            font-size: rem-calc(20);
            line-height: rem-calc(25);
        }
    }

    .section-posts {
        article {}

        .entry-title {
            font-size: rem-calc(14);
            border-bottom: 2px solid $accent-color;
            padding-bottom: rem-calc(8);
            margin-bottom: rem-calc(24);
        }

        .entry-content {
            &> * {
                font-size: rem-calc(18);
                line-height: 24px;
            }
        }
        
    }

    .section-events {
        background-color: $light-gray; //design has #F3F3F3, try consistent gray

        .entry-title {
            font-size: rem-calc(18);
            line-height: 24px;
        }

        .entry-content {
            &> * {
                font-size: rem-calc(16);
                line-height: 20px;
            }
        }

        button {
            @include button($background: $button-secondary, $background-hover: $hover-secondary);
        }
    }

    .section-title {
        color: $accent-color;
        font-size: rem-calc(30);
        line-height: rem-calc(40);
        
        display: flex;
        align-items: center;

        .separator {
            margin-right: rem-calc(20);
            margin-left: rem-calc(20);
            display: inline-block;
            mask-image: url('../images/nav-separator.png');
            background-color: $secondary-color;
            mask-repeat: no-repeat;
            mask-position: center;
            mask-size: 22px 36px; //sic
            width: 22px;
            height: 36px;
        }
    }

    .section-subtitle {
        color: $accent-color;
        font-size: rem-calc(14);
        line-height: rem-calc(19);
    }

     @include breakpoint(medium) {
         
        /**
        * Structure
        */
        .entry-media-wrapper {
            margin-bottom: rem-calc(24);
        }

        .has-featured-event + .section-posts {
            margin-top: - rem-calc(30); // height of angle - diff
        }
    
        .section-posts {
            // margin-top: - rem-calc(30); // height of angle - diff

            .posts-list {
                grid-template-columns: 1fr 1fr;
                row-gap: rem-calc(56);
            }

            article {
                position: relative;

                &:nth-child(odd) {
                    &:after {
                        content: '';
                        border-right: 1px solid $medium-gray;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        right: -34px;
                    }
                }

            }
    
        }

        .section-events {
            padding-bottom: rem-calc(76);
            
            .section-header {
                align-items: center;
            }

            .posts-list {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }

        .section-title {
            .separator {
                margin-right: rem-calc(26);
                margin-left: rem-calc(26);
            }
        }
    
        .section-subtitle {
            max-width: rem-calc(530);
        }

        /**
         * Style
         */
        /* Alternate intro text styling */
        .intro-content {
            p {
                line-height: rem-calc(27);
            }
        }

        .section-subtitle {
            font-size: rem-calc(20);
            line-height: 24px;
        }

        .section-posts {
            .section-subtitle {
                font-size: rem-calc(20);
                line-height: 24px;
            }
        }

        .section-events {
            .section-subtitle {
                font-size: rem-calc(17);
                line-height: 22px;
            }
        }
     }

     @include breakpoint(large) {
        /**
        * Structure
        */
        .section-header {
            margin-bottom: rem-calc(52);
        }

        .section-posts {

            .posts-list {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }

            article {
                //reset
                &:nth-child(odd) {
                    &:after {
                        content: none;
                    }
                }

                &:nth-child(4n+1),
                &:nth-child(4n+2),
                &:nth-child(4n+3) {
                    &:after {
                        content: '';
                        border-right: 1px solid $medium-gray;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        right: -34px;
                    }
                }

            }
    
        }

        /**
        * Style
        */
     }


    .fade-in {
        animation: fadeIn ease 3s;
        -webkit-animation: fadeIn ease 3s;
        -moz-animation: fadeIn ease 3s;
        -o-animation: fadeIn ease 3s;
        -ms-animation: fadeIn ease 3s;
    }
 
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
      

}

/**
 * IE Specific styling
 */
_:-ms-lang(x), .page-template-news-events {

    .section-posts,
    .section-events {
        
        .posts-list {
            @include xy-grid;
        }

        article {
            &:nth-child(n+2) {
                margin-top: rem-calc(42);
            }
        }

    }

    .section-title {

        .separator {
            background-image: url('../images/separator-section-title.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 22px 36px; //sic
            background-color: transparent;
        }
    }

        
    @include breakpoint(medium) {

        .section-posts {
            margin-top: rem-calc(42) !important;
            
            article {
            
                &:nth-child(odd) {
                    @include xy-cell(1 of 2, $gutters: 42, $gutter-type: padding, $gutter-position: right);
                    border-right: 1px solid $medium-gray;

                    &:after {
                        content: none;
                    }

                }

                &:nth-child(even) {
                    @include xy-cell(1 of 2, $gutters: 42, $gutter-type: padding, $gutter-position: left);
                }

                &:nth-child(n+2) {
                    margin-top: 0;
                }
                &:nth-child(n+3) {
                    margin-top: rem-calc(68);
                }
            
            }

        }

        .section-events {
            article {

                &:nth-child(odd) {
                    @include xy-cell(1 of 2, $gutters: 42, $gutter-type: padding, $gutter-position: right);
                }

                &:nth-child(even) {
                    @include xy-cell(1 of 2, $gutters: 42, $gutter-type: padding, $gutter-position: left);
                }

                &:nth-child(n+2) {
                    margin-top: 0;
                }
                &:nth-child(n+3) {
                    margin-top: rem-calc(68);
                }
            
            }
        }
    }

    @include breakpoint(large) {
        .section-posts {
            
            article {
                &:after {
                    content: none !important;
                }
            
                &:nth-child(odd) {
                    border-right: none;
                    
                }

                &:nth-child(even) {}

                &:nth-child(4n+1) {
                    @include xy-cell(1 of 4, $gutters: 42, $gutter-type: padding, $gutter-position: right);
                    border-right: 1px solid $medium-gray;
                }

                &:nth-child(4n+2),
                &:nth-child(4n+3) {
                    @include xy-cell(1 of 4, $gutters: 42, $gutter-type: padding, $gutter-position: right left);
                    border-right: 1px solid $medium-gray;
                }

                &:nth-child(4n+4) {
                    @include xy-cell(1 of 4, $gutters: 42, $gutter-type: padding, $gutter-position: left);
                }

                &:nth-child(n+3) {
                    margin-top: 0;
                }

                &:nth-child(n+5) {
                    margin-top: rem-calc(68);
                }
            
            }

        }

        .section-events {
            article {
            
                &:nth-child(3n+1) {
                    @include xy-cell(1 of 3, $gutters: 42, $gutter-type: padding, $gutter-position: right);
                }

                &:nth-child(3n+2) {
                    @include xy-cell(1 of 3, $gutters: 42, $gutter-type: padding, $gutter-position: right left);
                }

                &:nth-child(3n+3) {
                    @include xy-cell(1 of 3, $gutters: 42, $gutter-type: padding, $gutter-position: left);
                }

                &:nth-child(n+3) {
                    margin-top: 0;
                }

                &:nth-child(n+4) {
                    margin-top: rem-calc(68);
                }
            
            }
        }
    }

}

