.page-our-clients {
    /**
     * Structure
     */
     .site-main {
        .entry-content {
            .has-2-columns {
                @include xy-grid;
                flex-wrap: wrap;

                .wp-block-column {
                    &:first-child {
                        @include xy-cell($gutters: 0);
                        order: 2;
                    }
                    
                    &:last-child {
                        @include xy-cell($gutters: 0);
                        order: 1;
                    }
                }
            }
        }
    }

     /**
     * Styles
     */
    .site-main {
        .entry-content {
            h2 {
               font-size: rem-calc(18);
               line-height: rem-calc(22);
               color: $accent-color;
            }

            p {}

            .primary-color {
                color: $primary-color;
            }

            .has-4-columns {
                @include xy-grid;

                .wp-block-column {
                    @include xy-cell($gutters: 0);
                }

                p {
                    font-size: rem-calc(18); //sic
                    line-height: rem-calc(23);
                    color: $black-8;

                    &.h1 {
                        margin-bottom: rem-calc(21);
                        font-weight: $font-weight-black;
                        font-size: rem-calc(75.9); //sic
                        color: $primary-color;
                        letter-spacing: -1.26px;
                        line-height: rem-calc(46);
                    }
                }
                
            }

            .wp-block-image {
                margin-bottom: 0;
                // @include clipped-corner($corner: bottom-right, $height: 58px, $width: 52px);
               @include clipped-photo($size: medium);
                
            }
        }

        .wp-block-custom-content-footer {

            .wp-block-columns {
                .wp-block-column {
                    &:first-child {
                        p {
                            font-size: rem-calc(14);
                            line-height: rem-calc(18);
                        }
                    }
                }
            }

        }
    }

    @include breakpoint(small only) {
        .site-main {
            .entry-content {
                .has-2-columns {
                    margin-bottom: rem-calc(32);

                    .wp-block-column {
                        &:first-child {
                            margin-top: rem-calc(42);
                        }
                        
                        &:last-child {}
                    }

                }

                .has-2-columns + h2 {
                    margin-bottom: rem-calc(32);
                }

                &> .has-4-columns {
                    .wp-block-column {
                        margin-bottom: 0;
                    }

                    .wp-block-column + .wp-block-column {
                        margin-top: rem-calc(34);
                        padding-top: rem-calc(39); //sic
                        border-top: 1px solid $gray-border;
                    }
                }
            }

        }
        

        .wp-block-custom-content-footer {
            h3 {
                margin-bottom: rem-calc(15);
                width: 90%;
                font-size: rem-calc(24); //sic
                line-height: rem-calc(31);
            }

            .wp-block-column {
                &:first-child {
                    margin-bottom: rem-calc(43);
                }

                &:last-child {
                    margin-top: 0;
                }
            }

            p + .wp-block-image {
                margin-top: rem-calc(44);
            }
        }
    }

    @include breakpoint(medium) {
        /**
        * Structure
        */
        .site-main {
            .entry-content {
                .has-2-columns {
                    margin-bottom: rem-calc(60);

                    .wp-block-column {
                        margin-bottom: 0;

                        &:first-child {
                            @include xy-cell(1 of 2, $gutters: 100, $gutter-type: padding, $gutter-position: right);
                            order: 1;
                        }
                        
                        &:last-child {
                            @include xy-cell(1 of 2, $gutters: 100, $gutter-type: padding, $gutter-position: left);
                            order: 2;
                            
                        }

                    }
                }

                .has-4-columns {
                    .wp-block-column {
                        margin-bottom: 0;

                        &:first-child,
                        &:nth-child(2) {
                            margin-bottom: rem-calc(40);
                        }

                        &:nth-child(odd) {
                            @include xy-cell(1 of 2, $gutters: 80, $gutter-type: padding, $gutter-position: right);
                            border-right: 1px solid $gray-border;
                        }

                        &:nth-child(even) {
                            @include xy-cell(1 of 2, $gutters: 80, $gutter-type: padding, $gutter-position: left);
                        }
                    }

                }
            }

        }

        .wp-block-custom-content-footer {

            .wp-block-columns {
                .wp-block-column {
                    &:first-child {
                        p {
                            font-size: rem-calc(14); //sic
                            line-height: rem-calc(18);
                        }
                    }
                }
            }

            p + .wp-block-image {
                margin-top: rem-calc(38);
            }
        }

        /**
        * Styles
        */
        .site-main {
            .entry-content {
                .wp-block-image {
                    margin-bottom: 0;
                    @include clipped-photo($size: large);
                }
            }
        }

    }

    @include breakpoint(large) {
        /**
        * Structure
        */
        .site-main {
            .entry-content {

                .has-4-columns {
                    margin-bottom: 0;

                    .wp-block-column {
                        margin-right: 0;
                        margin-left: 0;

                        &:first-child,
                        &:nth-child(2) {
                            margin-bottom: 0;
                        }

                        &:first-child() {
                            @include xy-cell(1 of 4, $gutters: 80, $gutter-type: padding, $gutter-position: right);
                        }

                        &:nth-child(2),
                        &:nth-child(3) {
                            @include xy-cell(1 of 4, $gutters: 80, $gutter-type: padding, $gutter-position: left right);
                            border-right: 1px solid $gray-border;
                        }

                        &:last-child() {
                            @include xy-cell(1 of 4, $gutters: 80, $gutter-type: padding, $gutter-position: left);
                        }
                    }
                }
            }
        }

        /**
        * Styles
        */

    }
}