/* Landing Pages */
.page-template-landing-page,
.page-template-landing-page-get-help {

    /**
     * Structure
     */
    .site-main {
        &> article {
            &> .entry-content {
                padding-bottom: rem-calc(50);

                .wp-block-custom-sections {
                    @include xy-grid;

                    .section {
                        @include xy-cell($gutters: 0);

                        .wp-block-image {}
    
                        .wp-block-button + .wp-block-image {}

                        p + .wp-block-button {
                            margin-top: rem-calc(9); //16px + 9 = 25
                        }
    
                        h3 {
                            color: $accent-color; 
                            font-size: rem-calc(20);
                            line-height: rem-calc(34);
                        }

                        .wp-block-button__link {
                            @extend %large-button;
                        }

                        &:not(:last-of-type) {
                            padding-bottom: rem-calc(56);
                            margin-bottom: rem-calc(52);

                            border-bottom: 2px solid $gray-border;
                        }

                    }

                    .wp-block-button__link {
                        @include button($background: $button-accent, $background-hover: $hover-primary);
                    }

                    .section-title {
                        br {
                            display: none;
                        }
                    }
                }

            }
        }
    }

    /**
     * Style
     */
    
    /**
     * Small only
     */
    @include breakpoint(small only) {

        /**
         * Structure
         */
        .site-main {
            &> article {

                &> .entry-content {
                    // padding-bottom: rem-calc(88);
                    padding-bottom: 0;
                }

                .entry-content {

                    .wp-block-custom-sections {
                        margin-bottom: rem-calc(40);

                        .section {
                            margin-bottom: 0;
                
                            .wp-block-button,
                            .wp-block-button__link {
                                margin-bottom: 0;
                            }
                        }

                        .column + .column {
                            padding-top: rem-calc(52);
                            margin-top: rem-calc(56);

                            border-top: 2px solid $gray-border;
                        }

                        .wp-block-separator {
                            margin-top: rem-calc(50);
                            margin-bottom: rem-calc(38);
                        }
                    }
                }
            }
        }

        /**
         * Style
         */

    }

    @include breakpoint(medium) {

        /**
         * Structure
         */
        .site-main {
            &> article {

                &> .entry-content {
                    // padding-bottom: 0;
                    padding-bottom: rem-calc(70);
                    
                    .wp-block-custom-sections {
                        @include xy-grid;

                        .column {
                            &:first-of-type {
                                @include xy-cell(1 of 2, $gutters: 80, $gutter-type: margin, $gutter-position: right);
                            }

                            &:last-of-type {
                                @include xy-cell(1 of 2, $gutters: 80, $gutter-type: margin, $gutter-position: left);
                                margin-top: rem-calc(94);
                            }

                            .section {
                                &.has-post-thumbnail {
                                    @include xy-grid;

                                    .wp-block-image {
                                        @include xy-cell(2 of 6, $gutters: 24, $gutter-type: margin, $gutter-position: right);
                                        
                                        img {
                                            margin-right: 0;
                                            margin-left: auto;
                                        }
                                    }

                                    .section-body {
                                        @include xy-cell(4 of 6, $gutters: 24, $gutter-type: margin, $gutter-position: left);
                                    }
                                }
                            }
                        }

                        .section {
                            margin-bottom: 0;

                            .wp-block-button,
                            .wp-block-button__link {
                                margin-bottom: 0;
                            }

                            p + .wp-block-button {
                                margin-top: rem-calc(32); //16px + 9 = 25
                            }
                        }

                    }

                }
            }
        }

        /**
         * Style
         */
 
    }
    
}
