.wp-block-custom-content-footer {

    @include fullwidth;

    $start: 75.466666666666667%; //sic
    $tab-height: rem-calc(46);
    $tab-width: rem-calc(46);

    clip-path: polygon(0% 0%, $start 0, calc( #{$start} + #{$tab-width} ) $tab-height, 100% $tab-height, 100% 100%, 0% 100%);

    /**
     * Structure
     */
    .inner-container {
        @include xy-grid-container;
        @include xy-grid;
        padding-top: rem-calc(50);
        padding-bottom: rem-calc(50);
    }

    .wp-block-columns {
        @include xy-grid;
    }

    .wp-block-column {
        @include xy-cell($gutters: 0);

        &:first-child {}

        &:last-child {
            margin-bottom: 0;
        }
    }

    /**
     * Style
     */
     background-color: $accent-color;
     color: $white;

    p + .wp-block-columns {
        margin-top: rem-calc(31); //Total 47px with p margin
    }

    .wp-block-column {
        &:first-child {
            p {
                font-size: rem-calc(14);
                line-height: rem-calc(18);
            }

            li {
                font-size: rem-calc(14);
                line-height: rem-calc(16);
            }
    
            li + li {
                margin-top: rem-calc(8);
            }
        }
    }

    .wp-block-quote {
        position: relative;
        padding: rem-calc(47) rem-calc(31); //sic
        border-radius: $button-radius;
        background-color: get-color(secondary-dark);
        border: none;

        * {
            color: $white; 
        }

        cite {
            text-align: right;
            font-weight: $font-weight-semi-bold;
            font-size: rem-calc(14);
            line-height: rem-calc(20);
            text-align: right;
        }

        &:after {
            content: '';
            position: absolute;
            transform: rotate(180deg) scaleX(-1);
            top: -22px;
            left: 92px;
            width: 48px;
            height: 38px;

            /* Mask image method */
            mask-image: url('../images/blurb-arrow-bottom-left.svg');
            background-color: get-color(secondary-dark);
            mask-repeat: no-repeat;
            mask-size: 48px 38px;
        }
    }

    h2 {
        margin-bottom: rem-calc(30);
        font-weight: $font-weight-black;
        font-size: rem-calc(24);
        line-height: rem-calc(31);
    }

    /**
     * Medium & up
     */
    @include breakpoint(medium) {

        $start: 50%;
        $tab-height: rem-calc(46);
        $tab-width: rem-calc(44);
    
        clip-path: polygon(0% 0%, $start 0, calc( #{$start} + #{$tab-width} ) $tab-height, 100% $tab-height, 100% 100%, 0% 100%);

        /**
        * Structure
        */
        .inner-container {}

        .wp-block-column {
            margin-bottom: 0;

            &:first-child {
                @include xy-cell(6, $gutters: 75, $gutter-type: padding, $gutter-position: right);
            }

            &:last-child {
                @include xy-cell(6, $gutters: 75, $gutter-type: padding, $gutter-position: left);
            }
        }

        h3 {
            font-size: rem-calc(24);
            line-height: rem-calc(31);
        }
    
        /**
        * Style
        */
        .wp-block-quote {
            margin-top: rem-calc(100);
            
            padding: rem-calc(40) rem-calc(71); //sic
            border-radius: rem-calc(120);

            &:after {
                transform: rotateY(180deg) scaleX(-1);
                top: auto;
                bottom: -22px;
                left: 92px;
                width: 53px;
                height: 42px;
    
                mask-size: 53px 42px;
            }
        }
    
 
    }

    /**
     * Large & up
     */
    @include breakpoint(large) {
        /**
        * Structure
        */
        .inner-container {}

        /**
        * Style
        */

    }
}