.wp-block-cover.hero {

    /**
     * Structure
     */
    height: rem-calc(540);
    margin-bottom: 0;

    .wp-block-cover__inner-container {
        width: 100%;
        height: 100%;
    }

    h2,
    .has-large-font-size {
        font-weight: $font-weight-xbold;
        font-size: rem-calc(40);
        color: get-color(accent);
        letter-spacing: 0.37px;
        line-height: 47px;
        text-align: initial;
    }

    p {
        &:first-of-type {
            margin-top: rem-calc(20);
        }
    }

    .wp-block-button {}

    /**
     * Style
     */
     background-color: rgba($secondary-color,0.1);

     /**
      * Serve different background image to mobile
      */
     @include breakpoint(small only) {
        background-image: url('../images/hero-bg-mobile.jpg') !important;
     }

     .wp-block-cover__inner-container {
        padding: rem-calc(46) rem-calc(40) rem-calc(46) rem-calc(20);
     }

     p {
        font-weight: $font-weight-xbold;
        font-size: rem-calc(18);
        color: $accent-color !important;
        line-height: 24px;
     }
 
     h2,
     .has-large-font-size {
        padding: 0;
        color: $accent-color !important;
     }
 
     .wp-block-button {
         margin-top: rem-calc(40);

        .button {
            // line-height: 24px;
            font-weight: $font-weight-black;
            // font-size: 14px;
            letter-spacing: 0.4px;
            text-transform: uppercase;
        }
     }

     /**
      * Medium and up
      */
     @include breakpoint(medium) {
        background-size: auto 150% !important;
        background-position: center top;
        height: rem-calc(460);

        /**
         * Structure
         */
        .wp-block-cover__inner-container {
            @include xy-grid-container;
        }

        /* Headline */
        h2,
        .has-large-font-size {
        }

        /* Content - column 2 */
        p {

            &:first-of-type {}
        }

        /* Button - column 2 */
        .wp-block-button {
        }

        .wp-block-button__link {
        }

        /**
         * Structure
         */
        .wp-block-cover__inner-container {
            display: grid;
            grid-template-columns: 67% 1fr;
            grid-auto-rows: minmax(min-content, max-content);
            grid-column-gap: rem-calc(80);
        }

        /* Headline */
        h2,
        .has-large-font-size {
            grid-row: 1 / span 2;
            max-width: unset;
        }

        /* Content - column 2 */
        p {
            grid-row: 1;

            &:first-of-type {
                margin-top: rem-calc(10);
            }
        }

        /* Button - column 2 */
        .wp-block-button {
            margin-top: rem-calc(2);
            grid-row: 2;
        }

        .wp-block-button__link {
            padding: rem-calc(14) rem-calc(36);
        }
        
     }

    /**
     * Large and up
     */
    @include breakpoint(large) {
        background-size: cover !important;
        // height: rem-calc(460);

       /**
        * Style
        */
        h2,
        .has-large-font-size {
            font-size: rem-calc(54);
            letter-spacing: 0.5px;
            line-height: 67px;
        }

    }

     /**
      * Extra Large
      */
     @include breakpoint(xlarge) {
        height: rem-calc(470);
     }
 
}

/**
 * IE-specific styling
 */
_:-ms-lang(x), .wp-block-cover.hero {

    width: 100%;
    
    .wp-block-cover__inner-container {
        @include xy-grid-container;
        display: block;
    }

     /* Headline */
     h2,
     .has-large-font-size {
         width: 100%;
         float: none;
    }

    /* Content - column 2 */
    p {
        width: 100%;
        float: none;
    }

    /* Button - column 2 */
    .wp-block-button {
        width: 100%;
        float: none;
    }

    @include breakpoint(medium) {
        /* Headline */
        h2,
        .has-large-font-size {
            width: calc( 100% *  2/3);
            padding-right: rem-calc(40);
            float: left;
            max-width: unset;
        }

        /* Content - column 2 */
        p {
            width: calc( 100% *  1/3);
            padding-left: rem-calc(40);
            float: right;
        }

        /* Button - column 2 */
        .wp-block-button {
            clear: right;
            width: calc( 100% *  1/3);
            padding-left: rem-calc(40);
            float: right;
        }

        .wp-block-button__link {}
    }

    @include breakpoint(large) {
        @include fullwidth;

        .wp-block-cover__inner-container {
            margin-right: calc((100% - 1200px) / 2) !important;
            margin-left: calc((100% - 1200px) / 2) !important;
        }
    }
}