.wp-block-cover.hero {

    /**
     * Structure
     */
    height: rem-calc(540);
    margin-bottom: 0;

    .wp-block-cover__inner-container {
        width: 100%;
        height: 100%;
    }

    h2,
    .has-large-font-size {
        font-weight: $font-weight-xbold;
        font-size: rem-calc(40);
        color: get-color(accent);
        letter-spacing: 0.37px;
        line-height: 47px;
        text-align: initial;
    }

    p {
        &:first-of-type {
            margin-top: rem-calc(20);
        }
    }

    .wp-block-button {}

    /**
     * Style
     */
     background-color: rgba($secondary-color,0.1);

     /**
      * Serve different background image to mobile
      */
     @include breakpoint(small only) {
        background-image: url('../images/hero-bg-mobile.jpg') !important;
     }

     .wp-block-cover__inner-container {
        padding: rem-calc(46) rem-calc(40) rem-calc(46) rem-calc(20);
     }

     p {
        font-weight: $font-weight-xbold;
        font-size: rem-calc(18);
        color: $accent-color !important;
        line-height: 24px;
     }
 
     h2,
     .has-large-font-size {
        padding: 0;
        color: $accent-color !important;
     }
 
     .wp-block-button {
         margin-top: rem-calc(40);

        .button {
            // line-height: 24px;
            font-weight: $font-weight-black;
            // font-size: 14px;
            letter-spacing: 0.4px;
            text-transform: uppercase;
        }
     }

     /**
      * Medium and up
      */
     @include breakpoint(medium) {
        background-size: auto 150% !important;
        background-position: center top;
        height: rem-calc(460);

        /**
         * Structure
         */
        .wp-block-cover__inner-container {
            @include xy-grid-container;
        }

        /* Headline */
        h2,
        .has-large-font-size {
        }

        /* Content - column 2 */
        p {

            &:first-of-type {}
        }

        /* Button - column 2 */
        .wp-block-button {
        }

        .wp-block-button__link {
        }

        @supports( grid-area: auto ) {
            /**
             * Structure
             */
            .wp-block-cover__inner-container {
                display: grid;
                grid-template-columns: 67% 1fr;
                grid-auto-rows: minmax(min-content, max-content);
                grid-column-gap: rem-calc(80);
            }

            /* Headline */
            h2,
            .has-large-font-size {
                grid-row: 1 / span 2;
                max-width: unset;
            }

            /* Content - column 2 */
            p {
                grid-row: 1;

                &:first-of-type {
                    margin-top: rem-calc(10);
                }
            }

            /* Button - column 2 */
            .wp-block-button {
                margin-top: rem-calc(2);
                grid-row: 2;
            }

            .wp-block-button__link {
                padding: rem-calc(14) rem-calc(36);
            }

        }

     }

      /**
      * Large and up
      */
      @include breakpoint(large) {
        background-size: cover !important;
        // height: rem-calc(460);

       /**
        * Style
        */
        h2,
        .has-large-font-size {
            font-size: rem-calc(54);
            letter-spacing: 0.5px;
            line-height: 67px;
        }

     }

     /**
      * Extra Large
      */
     @include breakpoint(xlarge) {
        height: rem-calc(470);
     }
 
}