/* Intro Block */
.wp-block-custom-intro,
.page-intro,
.entry-intro {
    // padding: rem-calc(20);
    background-color: $primary-color;
    color: $white;

    .inner-container {
        @include xy-grid-container;
        padding-top: rem-calc(42);
        padding-bottom: rem-calc(50);
    }
}

/* About Us Variation */
.page-template-history-timeline {
    $height: calc( 100% - 46px );

    $start: 75%;
    $width: calc( #{$start} + 44px );

    .wp-block-custom-intro {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, $width 100%, $start $height, 0 $height);
    }

    @include breakpoint(medium) {
        $start: 50%;
        $width: calc( #{$start} + 44px );

        .wp-block-custom-intro {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, $width 100%, $start $height, 0 $height);

            .inner-container {
                columns: 2;
                column-gap: rem-calc(70);
            }
        }
    
    }

}


@each $color, $code in $foundation-palette {
  
	.has-#{$color}-page-color {
        .wp-block-custom-intro,
        .page-intro,
    .entry-intro {
			background-color: $code;
		}
	}
}

.has-white-page-color,
.has-gray-light-page-color {
    .wp-block-custom-intro,
    .page-intro,
    .entry-intro {
        color: $body-font-color;
    }
}

.has-secondary-page-color {
    .wp-block-custom-intro,
    .page-intro,
    .entry-intro {}
}

.has-accent-page-color {
    .wp-block-custom-intro,
    .page-intro,
    .entry-intro {}
}

.has-light-gray-page-color {
    .wp-block-custom-intro,
    .page-intro,
    .entry-intro {}
}

.has-white-gray-page-color {
    .wp-block-custom-intro,
    .page-intro,
    .entry-intro {}
}
