/* Intro Block */
.wp-block-customblocks-intro {
    background-color: $primary-color;
    color: $white;
}

@each $color, $code in $foundation-palette {
  
	.has-#{$color}-page-color {
        .wp-block-customblocks-intro ,
        .wp-block-functionality-intro {
			background-color: $code;
		}
	}
}

.has-white-page-color,
.has-gray-light-page-color {
    .wp-block-customblocks-intro {
        color: $body-font-color;
    }
}

.has-secondary-page-color {
    .wp-block-customblocks-intro {}
}

.has-accent-page-color {
    .wp-block-customblocks-intro {}
}

.has-light-gray-page-color {
    .wp-block-customblocks-intro {}
}

.has-white-gray-page-color {
    .wp-block-customblocks-intro {}
}



/* Content Footer Block */

/* Page CTA */

/* Speech Bubble */

/* Year Slider */

/* Tabs */

/* Twitter Feeds */

/* Number Counter */