/* Intro Block */
.wp-block-custom-intro {
    background-color: $primary-color;
    color: $white;

    .inner-container {
        @include xy-grid-container;
        padding-top: rem-calc(46);
        padding-bottom: rem-calc(46);
    }

    /**
     * Structure
     */

    .intro-button {
        display: none;
    }

    /**
     * Style
     */
     p {
        line-height: rem-calc(25);

        &:last-of-type {
            margin-bottom: 0;
        }
     }

    .intro-heading {
        // font-size: rem-calc(22);
        // line-height: rem-calc(29);
    }

    @include breakpoint(medium) {
       /**
        * Structure
        */
        &.has-button {            
            .inner-container {
                @include xy-grid;
                align-items: center;
                // padding-top: rem-calc(46);
                // padding-bottom: rem-calc(46);
            }

            .intro-content {
                @include xy-cell(7 of 12, $gutters: 81, $gutter-type: padding, $gutter-position: right);
            }

            .intro-button {
                display: block;
                @include xy-cell(5 of 12, $gutters: 81, $gutter-type: padding, $gutter-position: left);
            }
        }

        /**
        * Style
        */
        .intro-content {
           p {
            font-size: rem-calc(20);
            line-height: rem-calc(27);
           }
        }

        h2 {
            margin-bottom: 1rem;
        }
    
    }

    @include breakpoint(large) {
        /**
        * Structure
        */

        /**
        * Style
        */

    }

}

/* About Us Variation */
.page-template-history-timeline {
    $height: calc( 100% - 46px );

    $start: 75%;
    $width: calc( #{$start} + 44px );

    .wp-block-custom-intro {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, $width 100%, $start $height, 0 $height);

        .inner-container {
            padding-bottom: rem-calc(46) + rem-calc(38);
        }
    }

    /**
     * Style
     */
    .intro-content {
        p {
            font-size: rem-calc(16);
            line-height: rem-calc(21);
        }
    }

    .intro-heading {
        font-size: rem-calc(22);
        line-height: rem-calc(29);
    }

    @include breakpoint(medium) {
        $start: 50%;
        $width: calc( #{$start} + 44px );

        .wp-block-custom-intro {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, $width 100%, $start $height, 0 $height);

            .inner-container {
                columns: 2;
                column-gap: rem-calc(70);
            }
        }
    
    }

}

/**
 * Body copy size variations
 */
.page-news-events,
.page-our-impact,
.page-our-story {
    .intro-content {
        p {
            font-size: rem-calc(16);
            line-height: rem-calc(21);
        }
    }
}

/* Basic Pages */
.page-template-default,
.page-template-grid-content {
    .wp-block-custom-intro {}

    @include breakpoint(medium) {

        .wp-block-custom-intro {
            .intro-content {
                margin-right: 41.666666666666667%; //sic
            }
        }
        
    }

    &.has-gray-light-page-color {
        .intro-content {
            p {
                color: $accent-color;
            }
        }
    }
}

.wp-block-custom-intro,
.page-intro,
.entry-intro {
    background-color: $light-gray;

    .intro-content {
        p {
            color: $accent-color;
        }
    }
}


@each $color, $code in $foundation-palette {
  
	.has-#{$color}-page-color {
        .wp-block-custom-intro,
        .page-intro,
        .entry-intro {
            background-color: $code;
        }

        .intro-content {
            p {
                color: $white;
            }
        }
	}
}

.has-white-page-color,
.has-gray-light-page-color {
    .wp-block-custom-intro,
    .page-intro,
    .entry-intro {
        color: $accent-color;
    }
}

.has-secondary-page-color {
    .wp-block-custom-intro,
    .page-intro,
    .entry-intro {}
}

.has-accent-page-color {
    .wp-block-custom-intro,
    .page-intro,
    .entry-intro {}
}

.has-light-gray-page-color {
    .wp-block-custom-intro,
    .page-intro,
    .entry-intro {}
}

.has-white-gray-page-color {
    .wp-block-custom-intro,
    .page-intro,
    .entry-intro {}
}
