.wpgmza_map {
    &:before,
    &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    $height: rem-calc(281);

    &:after {
        clear: both;
    }

    iframe {
        height: $height !important;
    }

    iframe + div {
        z-index: 0 !important;
    }

    .gm-style-cc,
    .gmnoprint {
        z-index: 0 !important;
    }

    /**
     * Structure
     */
    .wpgmza_modern_infowindow {
        width: 100%;
        top: $height !important;
        background-color: $white;
        margin: 0;
    }
    
    .wpgmza_modern_infowindow_close {
        position: absolute;
        top: 0;
        right: 0;
    }

    .wpgmza_iw_description {
        max-height: none !important;

        .phone-info {

        }

        .parking-information {
            h3 {}
        }
    }

    /**
     * Style
     */
    .wpgmza_modern_infowindow {
        @include clipped-corner(bottom-right, $height: 44px, $width: 40px);
        font-family: $body-font-family;
    }

    .wpgmza_modern_infowindow_close {
        height: 50px;
        width: 50px;
        background-color: $gray-border;
        background-image: url('../images/icon-map-close.svg');
        background-size: 15px 15px;
        background-position: center;
        background-repeat: no-repeat;
        color: transparent;

        &:hover {
            background-color: $primary-color;
            background-image: url('../images/icon-map-close-white.svg');
        }
    }

    .wpgmza_iw_title {
        position: relative !important;
        float: none !important;
        padding: 0;
        margin-left: rem-calc(37);
        margin-bottom: rem-calc(10);
        background-color: transparent;
        font-weight: $font-weight-black;
        font-size: rem-calc(24);
        color: $accent-color;
        opacity: 1;
        line-height: rem-calc(34);

        &:before {
            content: '';
            background-image: url('../images/icon-map-marker.svg');
            background-size: rem-calc(27) rem-calc(34);
            height: rem-calc(34);
            width: rem-calc(27);
            position: absolute;
            left: - rem-calc(37);
        }
    }

    .wpgmza_iw_address {
        margin-bottom: rem-calc(32);

        p {
            font-weight: $font-weight-bold;
            font-size: rem-calc(18);
            color: $black-8;
            line-height: rem-calc(24);
            font-style: normal;
        }
    }

    .wpgmza_iw_description {
        max-height: auto;
        font-size: rem-calc(16);
        color: $black-8;
        line-height: rem-calc(20);
        font-style: normal;

        .phone-info {
            margin-bottom: rem-calc(26);
            padding-top: rem-calc(26);
            padding-bottom: rem-calc(26);
            border-top: 2px solid $gray-border;
            border-bottom: 2px solid $gray-border;

            display: flex;

            .label {
                margin-bottom: rem-calc(4);
                padding: 0;
                display: block;
                background-color: transparent;
                font-weight: $font-weight-bold;
                font-size: rem-calc(16);
                color: $black-8;
                line-height: rem-calc(20);
                font-style: normal;
            }

            .phone-number,
            .fax-number {
                flex-basis: 50%;
            }

            .phone-number {
                padding-right: rem-calc(36);
                border-right: 2px solid $gray-border;
            }

            .fax-number {
                padding-left: rem-calc(36);
            }

        }

        .parking-information {
            font-size: rem-calc(14);
            line-height: rem-calc(18);

            h3 {
                margin-bottom: rem-calc(10);
                font-weight: $font-weight-bold;
                font-size: rem-calc(16);
                line-height: rem-calc(20);
            }
        }
    }
    /* Custom Fields */

    .wpgmza_iw_description {
        margin-bottom: 0;
        padding-top: rem-calc(26);
        padding-bottom: rem-calc(26);
        border-top: 2px solid $gray-border;
        // border-bottom: 2px solid $gray-border;
        overflow-y: auto;

        display: flex !important;

        @include xy-grid;
    }

    p[data-custom-field-name="Phone"],
    p[data-custom-field-name="Fax"] { }

    p[data-custom-field-name="Phone"] {
        @include xy-cell(1 of 2, $gutters: 72, $gutter-type: padding, $gutter-position: right);
        border-right: 2px solid $gray-border;
    }

    p[data-custom-field-name="Fax"] {
        @include xy-cell(1 of 2, $gutters: 72, $gutter-type: padding, $gutter-position: left);
    }

    p[data-custom-field-name="Parking Information"] {
        margin-top: rem-calc(26);
        padding-top: rem-calc(26);
        border-top: 2px solid $gray-border;
    }

    p[data-custom-field-name="Phone"],
    p[data-custom-field-name="Fax"],
    p[data-custom-field-name="Parking Information"] {
        &:before {
            content: attr(data-custom-field-name);
            display: block;
            margin-bottom: rem-calc(4);
            font-size: rem-calc(16);
            line-height: rem-calc(20);
            font-weight: $font-weight-bold;
        }
        .wpgmza-custom-field {
            display: none;
        }

        margin-bottom: 0;
        display: block;
        background-color: transparent;
        color: $black-8;
        font-style: normal;
    }

    p[data-custom-field-name="Phone"],
    p[data-custom-field-name="Fax"] {
        font-size: rem-calc(16);
        line-height: rem-calc(20);
    }

    p[data-custom-field-name="Parking Information"] {
        &:before {
            margin-bottom: rem-calc(6);
        }

        font-size: rem-calc(14);
        line-height: rem-calc(18);
    }

    .wpgmza_iw_buttons {
        .wpgmza_button {
            @include button($background: $button-accent, $background-hover: $hover-accent);
        }
    }

    .wpgmza-shadow {
        box-shadow: none;
    }

    @include breakpoint(medium) {
        /**
        * Structure
        */
        #wpgmza_iw_holder_1 {
            top: 0 !important;
        }

        iframe {
            height: 568px !important;
        }

        .wpgmza_modern_infowindow {
            position: absolute;
            padding: rem-calc(66) rem-calc(59) rem-calc(66) rem-calc(129);
            margin: 0;
            right: auto;
            left: 0;
            width: rem-calc(543);
        }

    /**
     * Style
     */

    .wpgmza_iw_title {}
    .wpgmza_iw_address {}
    .wpgmza_iw_description {}
    .wpgmza_iw_buttons {}

    }

    @include breakpoint(large) {}
}