/* Timeline Control */

$arrow_svg: "data:image/svg+xml,%0A%3Csvg width='32px' height='33px' viewBox='0 0 32 33' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Design' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Template-%233---Our-Story' transform='translate(-199.000000, -891.000000)' fill='%23F58B6F'%3E%3Cg id='Group' transform='translate(143.000000, 890.000000)'%3E%3Cpath d='M60.3772168,5 L67.7981968,12.590552 L60.5252523,19.806661 C58.4483314,21.8659635 58.4988864,25.2547155 60.6378282,27.3760452 C62.7762489,29.4968581 66.1931355,29.5469967 68.2700564,27.4876942 L75.4452056,20.3716253 L83,28.0193973 L82.7844129,5.33043523 L60.3772168,5 Z' id='Fill-1-Copy-3' transform='translate(71.000000, 17.000000) rotate(-315.000000) translate(-71.000000, -17.000000) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E";

.timeline-component {
    font-size: rem-calc(20);
    // font-weight: bold;

    /* Hide Temporarily */
    .timeline-pagination {
        display: none;
    }

    /**
     * Controller 
     * Displays as modal on small screens
     */
    .timeline-controls {

        .timeline-wrapper {
            position: relative;
            padding: rem-calc(33) rem-calc(33) rem-calc(50) rem-calc(33); //[sic]
            background-color: get-color( accent-light );
            border-radius: rem-calc(26.734); //sic
            margin: rem-calc(33); //[sic]
        }

        ul {
            list-style: none;
            margin-left: 0;
            
            a {
                position: relative;
                display: block;
                color: white;
                font-weight: bold;
    
                &:hover,
                &:focus,
                &:active {
                    text-decoration: none;
                }
    
                &:hover {
                    background-color: $primary-color;
                    border-radius: $button-radius;
                }
            }
    
            .is-active {
                a {
                    background-color: white;
                    color: $primary-color;
                    border-radius: $button-radius;
                }
            }
        }

        /**
         * Modal on small screens 
         * Displays as grid on small screens
         */
        @include breakpoint( small only ) {
            display: none;
            

            ul {
                $rows: attr(data-rows);
                display: grid;
                grid-gap: rem-calc(10);
                grid-auto-flow: column;
                grid-template-columns: repeat(3, auto);
            }

            li {
                text-align: center;

                a {
                    &:hover {
                        background-color: $white;
                        color: $primary-color;
                    }
                }

                &.is-active a,
                a:focus,
                a:active {
                    background-color: $primary-color;
                    color: $white;
                }

            }
            
            &.is-open {
                display: block;
                height: 100vh;
                width: 100vw;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 2;
                // background-color: rgba($black,0.67); //sic
                background-color: rgba($black,0.9);
                border-radius: 0;

                ul {}
            }

            .close-button {
                height: rem-calc(55);
                width: rem-calc(71); //sic
                position: absolute;
                top: auto;
                bottom: 0;
                left: 0;
                background-color: get-color( accent );
                background-image: url('../images/icon-chevron-left.svg');
                background-repeat: no-repeat;
                background-position: center center;
                border-radius: rem-calc(26.734); //sic
            }

            .previous,
            .next {
                display: none;
            }
        }
    }

    /**
     * Thermometer
     * Only displays on small screens
     */
    .timeline-thermometer {
        margin-top: rem-calc(60);
        
        .thermometer-wrapper {
            max-width: 100%;
            padding: rem-calc(11) rem-calc(13); //[sic]
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: get-color( accent-light );
            border-radius: rem-calc(50);
        }

        ul {
            position: relative;
            list-style: none;
            margin-left: 0;
            margin-bottom: 0;
            display: flex;
            flex-basis: auto;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            width: 80%;

            /* Horizontal Rule */
            &:after {
                content: '';
                border-bottom: 2px solid get-color(blue-light);
                position: absolute;
                width: 100%;
                top: 50%; 
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }

        li {
            position: relative;
            height: rem-calc(12);

            &.date-tick {
                width: rem-calc(12);
            }

            &.is-active {
                /* Dot */
                background-image: url("data:image/svg+xml,%0A%3Csvg width='12px' height='12px' viewBox='0 0 12 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Design' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Template-%233---Our-Story' transform='translate(-252.000000, -1113.000000)' fill='%23F58B6F'%3E%3Ccircle id='Oval' cx='258' cy='1119' r='6'%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-position: center center;
                z-index: 1;

                /* Year in Pill */
                span {
                    position: absolute;
                    display: block;
                    bottom: rem-calc(36);
                    width: rem-calc(100);
                    left: 50%;
                    transform: translate(-50%, 0);
                    z-index: 1;

                    line-height: 1;
                    padding: rem-calc(9) rem-calc(18) rem-calc(11) rem-calc(18);
                    background-color: $primary-color;
                    border-radius: $button-radius;
                    font-size: rem-calc(22.2);
                    font-weight: $font-weight-black;
                    text-align: center;
                    color: $white;

                   &:after {
                        content: '';
                        background-image: linear-gradient($primary-color,$primary-color);
                        background-size: 2px 30px;
                        background-repeat: no-repeat;
                        background-position: center center;
                        height: 30px;
                        width: 2px;
                        position: absolute;
                        bottom: -30px;
                        left: 0;
                        right: 0;
                        margin-right: auto;
                        margin-left: auto;
                   }
                }

            }

            span {
                display: none;
            }

            &.is-active {}

        }

        .date-label {
            width: rem-calc(50);
            color: $white;
            font-size: rem-calc(13.4); //sic
            font-weight: $font-weight-black;
            text-align: center;
        }

        .line {
            transform-origin: 0 100%;
            height: 2px;
            background: get-color(accent-light);
        }
    }

    .component-footer {
        margin-top: rem-calc(12);
        margin-bottom: rem-calc(32);
        text-align: center;
    }

    .text-button {
        display: inline-block;
        color: rgba($black,0.4);
        font-size: rem-calc(14);
        font-weight: bold;
        letter-spacing: 0.8px;
        text-align: center;
        line-height: 18px;
        text-transform: uppercase;

        &:after {
            content: '';
            display: inline-block;
            margin-left: 1rem;
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='10px' height='16px' viewBox='0 0 10 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EPath 6%3C/title%3E%3Cg id='Design' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' opacity='0.4' stroke-linecap='round'%3E%3Cg id='Template-%233---Our-Story' transform='translate(-248.000000, -1167.000000)' stroke='%23666666' stroke-width='2'%3E%3Cg id='Group-3' transform='translate(13.000000, 1166.000000)'%3E%3Cpolyline id='Path-6' points='236.5 15.8847656 243 9.38476562 236.5 2.88476562'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            height: rem-calc(13);
            width: rem-calc(6.5);
            background-position: 1px right;
            background-size: 6.5px 13px;
            background-repeat: no-repeat;
        }
    }

    /**
     * Content
     */
    .term-title {
        display: inline-block;
        padding: rem-calc(10) rem-calc(36);
        background-color: $primary-color;
        color: white;
        border-radius: $button-radius;

        @include breakpoint( small only ) {
            display: none;
        }
    }

    .timeline-tabs-panel {
        display: none;

        &.is-active {
            display: block;
        }
    }

    /**
     * Medium+ screens 
     */
    @include breakpoint(medium) {
        @include xy-grid;
        align-items: flex-start;

        /* Layout */
        .timeline-controls {
            @include xy-cell(2);
        }

        .content-section {
            @include xy-cell(10);
        }

        /* Controller */
        .timeline-controls {
            // width: rem-calc(85);

            font-size: rem-calc(14.4); //[sic]
            text-align: center;

            .timeline-wrapper {
                width: rem-calc(85);
                border-radius: rem-calc(50);
                margin: 0;
                padding: rem-calc(20) 0;
            }

            ul {
                // padding: rem-calc(20) 0;
                
                a {
                    margin-left: rem-calc(10);
                    padding: rem-calc(5) rem-calc(20) rem-calc(5) rem-calc(10);
                }

                .is-active a,
                a:hover {
                    /* No border radius on hover */
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;

                    &:after {
                        content: '';
                        position: absolute;
                        display: inline-block;
                        background-image: url("data:image/svg+xml,%0A%3Csvg width='32px' height='33px' viewBox='0 0 32 33' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Design' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Template-%233---Our-Story' transform='translate(-199.000000, -891.000000)' fill='%23F58B6F'%3E%3Cg id='Group' transform='translate(143.000000, 890.000000)'%3E%3Cpath d='M60.3772168,5 L67.7981968,12.590552 L60.5252523,19.806661 C58.4483314,21.8659635 58.4988864,25.2547155 60.6378282,27.3760452 C62.7762489,29.4968581 66.1931355,29.5469967 68.2700564,27.4876942 L75.4452056,20.3716253 L83,28.0193973 L82.7844129,5.33043523 L60.3772168,5 Z' id='Fill-1-Copy-3' transform='translate(71.000000, 17.000000) rotate(-315.000000) translate(-71.000000, -17.000000) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                        background-size: rem-calc(33); //[sic]
                        background-position: center center;
                        height: rem-calc(33); //[sic]
                        width: rem-calc(33); //[sic]
                        top: 1px;
                        right: -16px;
                    }
                }
            }
        }

        /* Content */
    }
}