/* Timeline Control */

$arrow_svg: "data:image/svg+xml,%0A%3Csvg width='32px' height='33px' viewBox='0 0 32 33' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Design' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Template-%233---Our-Story' transform='translate(-199.000000, -891.000000)' fill='%23F58B6F'%3E%3Cg id='Group' transform='translate(143.000000, 890.000000)'%3E%3Cpath d='M60.3772168,5 L67.7981968,12.590552 L60.5252523,19.806661 C58.4483314,21.8659635 58.4988864,25.2547155 60.6378282,27.3760452 C62.7762489,29.4968581 66.1931355,29.5469967 68.2700564,27.4876942 L75.4452056,20.3716253 L83,28.0193973 L82.7844129,5.33043523 L60.3772168,5 Z' id='Fill-1-Copy-3' transform='translate(71.000000, 17.000000) rotate(-315.000000) translate(-71.000000, -17.000000) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E";

.timeline-component {
    font-size: rem-calc(20);
    font-weight: bold;
    
    ul {
        list-style: none;
        margin-left: 0;
        
        a {
            display: block;
            color: white;
            position: relative;

            &:hover {
                background-color: $primary-color;
                border-radius: $button-radius;
            }

            &.active {
                background-color: white;
                color: $primary-color;
                border-radius: $button-radius;
            }
        }
    }

    // li + li {
    //     margin-top: rem-calc(20);
    // }

    .timeline-controls {
        padding-top: rem-calc(30);
        padding-bottom: rem-calc(30);
        background-color: get-color( accent-light );
        border-radius: rem-calc(50);
    }

    .term-title {
        display: inline-block;
        padding: rem-calc(10) rem-calc(36);
        background-color: $primary-color;
        color: white;
        border-radius: $button-radius;
    }





    @include breakpoint(medium) {
        .timeline-controls {
            width: rem-calc(85);

            font-size: rem-calc(14.4);
            text-align: center;

            ul {
                a {
                    margin-left: rem-calc(10);
                    padding: rem-calc(5) rem-calc(20) rem-calc(5) rem-calc(10);
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;

                    &.active,
                    &:hover {
                        &:after {
                            content: '';
                            position: absolute;
                            display: inline-block;
                            background-image: url("data:image/svg+xml,%0A%3Csvg width='32px' height='33px' viewBox='0 0 32 33' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Design' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Template-%233---Our-Story' transform='translate(-199.000000, -891.000000)' fill='%23F58B6F'%3E%3Cg id='Group' transform='translate(143.000000, 890.000000)'%3E%3Cpath d='M60.3772168,5 L67.7981968,12.590552 L60.5252523,19.806661 C58.4483314,21.8659635 58.4988864,25.2547155 60.6378282,27.3760452 C62.7762489,29.4968581 66.1931355,29.5469967 68.2700564,27.4876942 L75.4452056,20.3716253 L83,28.0193973 L82.7844129,5.33043523 L60.3772168,5 Z' id='Fill-1-Copy-3' transform='translate(71.000000, 17.000000) rotate(-315.000000) translate(-71.000000, -17.000000) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                            background-size: rem-calc(33);
                            background-position: center center;
                            height: rem-calc(33);
                            width: rem-calc(33);
                            top: 1px;
                            right: -16px;
                        }
                    }

                }
            }
        }
    }
}