.ctf-type-usertimeline {
    display: block;
    position: relative;        
    padding-right: map-get($grid-margin-gutters, small);
    padding-left: map-get($grid-margin-gutters, small);

   /**
    * Structure
    */
    .ctf-tweets {
        @include xy-grid;
        padding-top: rem-calc(160);

    }

    .ctf-item {
        @include xy-grid;
        align-items: center;
    }
    
    .ctf-author-box {
        @include xy-cell(20%);
    }

    .ctf-tweet-content {
        @include xy-cell(80%);
        @include xy-gutters($gutter-position: left);
        // padding-left: map-get($grid-margin-gutters, small);
    }

    .ctf-tweet-actions {
        @include xy-cell(80%);
        padding-left: 20%;
        // padding-left: calc( 15px * 2 );
        @include xy-gutters($gutter-position: left);
    }

    .ctf-author-screenname {
        display: block;
        position: absolute;
        top: rem-calc(74);
        left: 0;
        @include horizontal-center;
    }

   /**
    * Style
    */
    background-color: get-color(accent);
    color: $white;
    background-image: url('../images/twitter-corner.svg');
    background-position: top left;
    background-size: rem-calc(153) rem-calc(147); //sic
    background-repeat: no-repeat;

    a {
        color: $white;
    }

    .ctf-tweets {}

    .ctf-item {

        &:not(:first-of-type) {
            .ctf-author-screenname {
                display: none;
            }
        }
    }

    .ctf-author-name,
    .ctf-screenreader {
        @include element-invisible;
    }

    .ctf-author-screenname {
        font-size: rem-calc(23.4); //sic
        letter-spacing: 0.22px;
        font-weight: $font-weight-black;
    }

    .ctf-screename-sep {
        display: none;
    }
    
    @include breakpoint(medium) {

       /**
        * Structure
        */
        .ctf-tweets {}

        .ctf-item {}

       /**
        * Style
        */
        .ctf-tweets {}

        .ctf-item {}

    }

    @include breakpoint(large) {

        /**
         * Structure
         */
         .ctf-tweets {}
 
         .ctf-item {
             @include xy-cell(4);
         }
 
        /**
         * Style
         */
         .ctf-tweets {}
 
         .ctf-item {}
 
     }

}