.wp-block-titter-timeline {
    display: block;
    position: relative;        
    padding-right: map-get($grid-margin-gutters, small);
    padding-left: map-get($grid-margin-gutters, small);

    .inner-container {}

    .ctf-type-usertimeline {
        padding-top: rem-calc(50);
        padding-bottom: rem-calc(62);
    }

   /**
    * Structure
    */
    .ctf-tweets {
        @include xy-grid-container;
        @include xy-grid;
    }

    .ctf-item {
        @include xy-grid;
    }
    
    $author-width: rem-calc(80);
    .ctf-author-box {
        width: $author-width;
    }

    .ctf-tweet-content {
        $content-width: calc(100% - #{author-width});
        width: xy-cell-size(4 of 5);
    }

    .ctf-tweet-actions {
        width: xy-cell-size(4 of 5);
        padding-left: $author-width;
    }

    .ctf-author-screenname {}

   /**
    * Style
    */
    background-color: get-color(accent);
    color: $white;
    background-image: url('../images/twitter-corner.svg');
    background-position: top left;
    background-size: rem-calc(153) rem-calc(147); //sic
    background-repeat: no-repeat;

    br + br {
        display: none;
    }

    .block-title {
        padding-top: rem-calc(74);
        font-size: rem-calc(23.4); //sic
        letter-spacing: 0.22px;
        font-weight: $font-weight-black;
        text-align: center;
    }

    a {
        color: $white;
    }

    .ctf-tweets {}

    .ctf-item {
        &:not(:last-of-type) {
            padding-bottom: rem-calc(20);
            margin-bottom: rem-calc(35);
            border-bottom: 1px solid $white;
        }
    }

    .ctf-author-name,
    .ctf-screenreader,
    .ctf-author-screenname {
        @include element-invisible;
    }

    .ctf-author-screenname {
        font-size: rem-calc(23.4); //sic
        letter-spacing: 0.22px;
        font-weight: $font-weight-black;
    }

    .ctf-tweet-text {
        font-size: rem-calc(14);
        line-height: 19px;

        a {
            @include dont-break-out;
        }
    }

    .ctf-tweet-actions {
        font-size: rem-calc(14);
        line-height: 19px;
    }

    .ctf-screename-sep {
        display: none;
    }
    
    @include breakpoint(medium) {

       /**
        * Structure
        */
        .ctf-tweets {}

        .ctf-item {
            
        }

       /**
        * Style
        */
        .ctf-tweets {}

        .ctf-item {}

    }

    @include breakpoint(large) {
        margin-top: - rem-calc(70);
        padding: 0;
        background-color: transparent;

        /**
         * Structure
         */
         .block-header {
            @include xy-grid;
            height: rem-calc(50);
         }

         .block-title {
            width: rem-calc(300);
            padding-top: rem-calc(46);
            padding-bottom: rem-calc(60);
         }

         .block-title-spacer {}

         .ctf-tweets {
             padding-top: rem-calc(50);
         }
 
         .ctf-item {
            @include xy-cell(4);
            padding-bottom: 0;
         }

        .ctf-author-box {
            width: 80px;
        }
        
         .ctf-tweet-content {
            width: calc( 100% - 80px );
        }
 
        /**
         * Style
         */
         background-size: rem-calc(130) rem-calc(125);

         .block-header {}

         .block-title {
            margin-bottom: 0;
            background-image: url('../images/twitter-corner.svg');
            background-size: 130px 125px;
            background-color: get-color(accent);
            background-repeat: no-repeat;

            /* Increase height by 75px in order to account for background 125px height image */
            clip-path: polygon(0 0, 0 125px, 375px 125px, 250px 0);

            font-size: 1rem;
            letter-spacing: 0.15px;
            text-align: right;
            $angle: calc( 100% - 50px );

            a {
                display: block;
                padding-right: rem-calc(70);
            }

         }

         .block-title-spacer {}

        .ctf-type-usertimeline {
            padding-bottom: rem-calc(80);
            background-color: get-color(accent);
            background-image: url('../images/twitter-corner.svg');
            background-size: 130px 125px;
            background-color: get-color(accent);
            background-repeat: no-repeat;
            background-position: left 0 top -74px;
        }

         .ctf-tweets {
            background-color: transparent;
         }
 
         .ctf-item {
            
            &:not(:last-of-type) {
                border-bottom: none;
                border-right: 1px solid $white;
                padding-right: map-get($grid-margin-gutters, medium);
                padding-bottom: 0;
                margin-bottom: 0;
            }
         }

        .ctf-tweet-text {
            line-height: 18px;
            // height: rem-calc(100);
            text-overflow: ellipsis;
        }

     }

}